[2016-05-25 19:47] doyubkim opened #3 "Implement Statically-sized MxN matrix implementation"
Only 2x2, 3x3, 4x4 and FDM-based sparse matrices are currently implemented. For the completeness,
- Add statically-sized MxN matrix implementation
- Add dynamically-sized MxN matrix implementation (dense)
- Add dynamically-sized MxN matrix implementation (sparse)

[2016-05-25 19:47] doyubkim opened #4 "Implement dynamically-sized MxN matrix implementation (dense)"
Only 2x2, 3x3, 4x4 and FDM-based sparse matrices are currently implemented. For the completeness,
- Add statically-sized MxN matrix implementation
- Add dynamically-sized MxN matrix implementation (dense)
- Add dynamically-sized MxN matrix implementation (sparse)

[2016-05-25 19:48] doyubkim opened #5 "Implement dynamically-sized MxN matrix implementation (sparse)"
Only 2x2, 3x3, 4x4 and FDM-based sparse matrices are currently implemented. For the completeness,
- Add statically-sized MxN matrix implementation
- Add dynamically-sized MxN matrix implementation (dense)
- Add dynamically-sized MxN matrix implementation (sparse)

[2016-06-11 05:23] doyubkim opened #8 "Document classes and public members"
Complete adding Doxygen comments for all classes and their public members.

[2016-06-11 05:26] doyubkim opened #9 "All public members requires unit testing"
The current test coverage is low. Every public member need unit testing.

[2016-06-11 06:56] doyubkim opened #10 "Remove trivial getter/setter functions"
Do not over engineer. Remove trivial getter/setter functions and replace them with public member variables.

[2016-06-11 06:58] doyubkim opened #11 "Easier API for adding source/emitter"
Current API is too complicated to use when users try to add sources or emitters to the system. Provide easier API for setting source/emitter, similar to the collider.

[2016-06-11 06:59] doyubkim opened #12 "Support rotating collider"
Current collider only can take linear motion. Support rotation and add actual simulation examples.

[2016-06-12 05:59] doyubkim opened #13 "Python API"
Python binding will improve the productivity. The binding solution is not determined, yet. The candidates are Boost.Python, SWIG, and pybind11. Interoperating with NumPy and Matplotlib would be ideal.

[2016-06-12 06:03] doyubkim opened #14 "Microsoft CLR/WinRT Binding"
Expose the API through C++/CLI so that Jet supports .NET languages such as C#.

Binding with WinRT is also desirable which will enable the Windows Store App support.

[2016-06-12 06:05] doyubkim opened #15 "Objective-C Binding"
Providing Objective-C binding will enable better integration with iOS and OS X apps. Swift support is also desirable.

[2016-06-12 06:09] doyubkim opened #16 "Position-based Fluids"
Implement position-based fluids.
http://mmacklin.com/pbf_sig_preprint.pdf

[2016-06-12 06:11] doyubkim opened #17 "Multigrid Preconditioned Conjugate Gradient"
Implement the MGPCG method for faster Poisson solver.

https://www.math.ucla.edu/~jteran/papers/MST10.pdf

[2016-06-12 06:13] doyubkim opened #18 "SIMD Implementation"
Better performance using SIMD implementation by either directly implementing SIMD operations or utilizing Intel ISPC.

[2016-06-12 06:15] doyubkim opened #19 "GPGPU Backend"
Support GPGPU backend for faster computation. Ideally Nvidia CUDA, but OpenCL is another option.

[2016-06-12 06:17] doyubkim opened #20 "Higher-order FMM/FSM"
Implement higher-order fast marching method (FMM) and fast sweeping method (FSM). Consider parallel implementation.

[2016-07-13 19:37] doyubkim opened #25 "Clean-up the Python scripts for rendering manual test results"

[2016-08-17 07:21] doyubkim opened #28 "Better Examples"
Current examples are computationally heavy. We need more like a "Hello, world" type of example.
At least make a short-cut to some selected manual tests, bound with simple visualization tool. Also, document these examples to the wiki page.

[2016-11-14 02:33] mmmovania opened #31 "Regarding OpenGL basd visualizer"
I noticed that there is no opengl/directx based previsualizer or renderer builtin this engine. Are there plans to do that?

[2016-11-14 03:04] doyubkim commented on #31
Thanks for the comment! Yes, although some examples in this engine have some exporters to Matplotlib, it would be great to have a built-in previz tool. Let me use this issue to track it. Maybe simple glfw-based viewer would be nice.

[2016-11-14 14:28] mmmovania commented on #31
Great I am working on this for myself. Will share with you when done.

[2016-11-14 15:08] doyubkim commented on #31
Sounds great, thanks!

[2016-11-25 07:36] doyubkim opened #33 "I/O for common data structures"
Some existing data structures like arrays support serializations. However, not all the classes support I/O and we need more policy as well.

A couple of thoughts/requirements:
- Common data structures (such as arrays, grids, particle systems, etc) should support serialization.
- Serialization should support both human readable format (JSON?) as well as binaries (FlatBuffer? Protobuf? Or just simpl

[2016-11-25 07:37] doyubkim opened #34 "Clean-up copy ctor and assignment op"
Some classes do not support copy ctor or = op. Identify those and clean them up.

[2016-12-06 10:54] #8 closed

[2016-12-06 18:07] doyubkim opened #41 "Builder pattern for complex types"
For instance, creating a face-centered grid or volume particle emitter takes significant number of parameters for their constructor. Adopting a builder pattern would be nice. Grid family does have simple builders, it is not really the builder for that purpose.

[2016-12-07 21:36] #12 closed

[2016-12-13 07:26] #41 closed

[2016-12-13 07:26] #28 closed

[2016-12-13 07:27] #11 closed

[2016-12-21 01:33] #33 closed

[2016-12-22 08:47] #34 closed

[2016-12-22 08:47] #10 closed

[2016-12-26 19:26] doyubkim commented on #9
Although not perfect, current unit test covers most of the APIs and adding more tests should be a continuous effort. Thus, closing this issue for now and will open a separate one if needed. Having more precise coverage analysis would be nice to have, but that should not block v1 release.

[2016-12-26 19:26] #9 closed

[2016-12-30 17:12] doyubkim opened #50 "Test Reporting Tool"
The manual and perf tests need some (lightweight) test reporting tool that can:
* Generate reports automatically
* Track the history (especially for the perf tests)
* Detect any regressions

This includes some refactoring work for the existing test result rendering scripts.

[2016-12-30 17:13] doyubkim commented on #25
Merging this issue to #50 (and punting to the next release)

[2016-12-30 17:13] #25 closed

[2017-01-14 07:10] doyubkim opened #51 "FDM-type linear system solver memory performance"
There are some rooms for memory perf improvements on FDM-type linear system solvers, especially for CG and ICCG solvers.

Credit: Alexander M who found the issue.

[2017-01-17 15:26] #51 closed

[2017-01-19 04:14] danraeprayStudentAcct commented on #13
Hi,

Just ordered your book - looking forward to reading it and going through the code here!  How are the python bindings coming along?  Are these tested / ready to use?

Thanks,

[2017-01-19 07:51] doyubkim commented on #13
Thanks! Hope you like the book :)

The Python binding is still WIP, but I'm hoping to have it soon.

[2017-02-02 07:40] doyubkim opened #63 "clang-format"
Consider migrating over to clang-format from cpplint. Also provide project-specific settings for VS Code or Sublime Text.

[2017-02-02 19:18] cabreak2 opened #64 "Libraries missing"
Libraries like cnpy and googletest are missing. In order for this to compile, they need to be added manually.

[2017-02-02 19:33] cabreak2 opened #65 "The Visual Studio project is completely broken"
A bunch of library and header includes are missing, syntax errors, ... too many to fix myself.

[2017-02-02 19:35] #64 closed

[2017-02-02 23:40] doyubkim commented on #65
Thanks for submitting the issue! Are you using VS 2015? It could be possible that the NuGet package (for zlib) is not properly downloaded when building the code (such as network hiccup while compiling). Can you paste your error message here?

[2017-02-06 08:32] doyubkim commented on #65
I think PR #66 is a related fix. Since it's passing CI I'm closing this issue. But feel free to reopen with error logs if you see a different problem.

[2017-02-06 08:32] #65 closed

[2017-03-05 17:37] goofoo opened #68 "Add new method"
How about to add a method implementation "Restoring Missing Vortices in Advection-Projection Fluid Solvers" http://www.cs.ubc.ca/~zhxx/IVOCK.html

[2017-03-06 02:02] doyubkim commented on #68
Thanks for the suggestion! Yes, this paper shows very nice results and would be nice to have for Jet codebase as well. I will add this to my feature wishlist.

[2017-03-25 23:17] #63 closed

[2017-04-08 05:49] doyubkim opened #81 "Support common data output format"
I've been asked about any possibility of using HDF5 or similar kinds of data format. While Jet is using FlatBuffers for its serialization solution, supporting commonly sharable/viewable data format also seems to make sense. However, I do not want to introduce too many library dependencies to jet since it is mainly for the book. If I can find a better solution for this (something like a plug-in mod

[2017-04-11 04:44] Haider-BA opened #82 "Visual Studio Project Templates"
If possible, add a visual studio 2015 and 2017 project template with pre-configured build configurations.

[2017-04-14 07:15] doyubkim commented on #82
Thanks for opening an issue, Haider. We used to have VS 2015 project, but as we migrated over to CMake, the solution file was removed. Unless there are essential features that CMake doesn't support, I think we should keep the current method.

[2017-04-14 07:15] #82 closed

[2017-04-16 06:04] #3 closed

[2017-04-16 06:04] #4 closed

[2017-04-16 06:04] #5 closed

[2017-04-20 07:04] doyubkim commented on #14
I am currently focusing on Python binding only, and won't work on other languages in the near term. I'm closing this ticket for now, unless there is a strong reason to have .NET support.

[2017-04-20 07:04] #14 closed

[2017-04-20 07:05] doyubkim commented on #15
Same here. I am currently focusing on Python binding only, and won't work on other languages in the near term.

[2017-04-20 07:05] #15 closed

[2017-05-09 06:18] doyubkim commented on #13
Let me share some updates on this ticket.

I added a Python binding using `pybind11` in a separate branch [`python`](https://github.com/doyubkim/fluid-engine-dev/tree/python). This new Python API covers most of the high-level C++ API, and I tried to add as much as docstrings as possible. However, it still lacks tests and examples, and the API may change a little bit. But I hope these will be added

[2017-05-09 16:08] aneeshvaidya opened #94 "APIC Solver numerical dissipation?"
I was going over the rotation manual tests, and while it seems the dissipation is less than PIC or FLIP as expected, I thought that the dissipation would be much less than it is since APIC is supposed to preserve angular momentum? Is this a bug or am I missing something conceptually?

[2017-05-09 21:19] doyubkim commented on #94
@aneeshvaidya, thanks for reporting this. It could be a test issue if I see other APIC test results which show low dissipation. Let me take a look.

[2017-05-09 22:29] aneeshvaidya commented on #94
In the Apic Solver 2d rotation test, I commented out the following line:

`solver->setPressureSolver(nullptr);`

And there was significantly reduced dissipation. Not sure what this means, but I think it may have to do with the pressure projection correcting the velocities, allowing momentum conservation?

[2017-05-10 07:44] doyubkim commented on #94
@aneeshvaidya, you're right. So the intention of that piece of code was to eliminate everything else except APIC transfer (grid <-> particles) and put position constraint (line 91 to 95 of apic_solver2_tests.cpp) to apply rigid body constraint. That position constraint part can cause a projection error, and as you observed, solving pressure step will make the particles to stay in the circular cour

[2017-05-10 14:40] #94 closed

[2017-05-15 14:56] #13 closed

[2017-05-22 05:06] doyubkim commented on #17
This effort will include:
* Standard MG method
* Standard AMG method (P2)
* MGPCG
* AMGPCG (P2)

For AMGPCG, libWetHair seems to have a readable implementation: https://github.com/nepluno/libWetHair

[2017-05-31 13:38] marcelsan opened #98 "Visualize XYZ particles"
Hello,

I ran the sph_sim example and it generated an output folder with a lot of .xyz files which i believe are the positions of particles for each frame. Is there any script to generate a .mp4 animation based on this .xyz files?

Thank you!

[2017-05-31 20:37] doyubkim commented on #98
Hi!

I don't have such a script right now, but should be pretty straightforward with Matplotlib. Let me write something and post it to the repo soon.

Thanks!

[2017-06-01 11:16] marcelsan commented on #98
Hi,

I wrote a code which uses matplotlib to do this. I gonna post it here today.

[2017-06-04 06:32] #98 closed

[2017-06-05 20:28] danielwinkler opened #100 "Mitsuba renderings"
The Mitsuba renderings in the examples video and the book look great.
Is it possible to add the Mitsuba project files and possibly scripts that were used to create these images?
Unfortunately I only see the volume export for smoke simulations in the source code.

[2017-06-05 23:43] doyubkim commented on #100
Great suggestion. I actually have a private repo with Mitsuba scene files but it's super messy right now. Let me clean that up and make public.

[2017-06-06 04:52] danielwinkler commented on #100
Great.
Thank you very much!

[2017-06-08 19:58] marcelsan commented on #100
Which kind of file is provided to Mitsuba render in order to render fluid simulations?

[2017-06-09 00:05] doyubkim commented on #100
Hi @marcelsan,

* For liquids, I used simple obj mesh files to represent fluid surface.
* To render particles directly, particle2xml tool can be used for exporting particle position data to bunch of tiny spheres in Mitsuba format.
* For volumetric data such as smoke, Mitsuba defines its own volume data format. You can find the file exporter under smoke_sim example.

[2017-06-09 21:56] marcelsan commented on #100
@doyubkim
How can I help you with this issue?

[2017-06-10 00:38] doyubkim commented on #100
@marcelsan, thank you for suggesting your help! This particular issue can be closed once I finish cleaning up my existing private repo that contains the Mitsuba scene files that I used for the book. However, once that's finished, we can think of adding more scene files for further example/demo simulations. Can you help me on that? I will create another ticket once I close this one.

[2017-06-10 21:05] marcelsan commented on #100
@doyubkim sure!

Moreover, I was thinking about adding multiple phase simulation. What do you think about this?

[2017-06-11 09:51] doyubkim commented on #100
@marcelsan, great! I will open an issue to cover that work.

[2017-06-11 09:59] doyubkim opened #101 "Multiphase fluid simulations"
Implement multiphase fluids including:

* Grid-based two-phase flow
    * Both smeared (Song et al. 2005) and GFM (Hong and Kim 2005)
* Grid-based multiphase (more than 2) flow
    * The Stanford paper
* Grid-based bubbly flow
    * Kim et al. 2010
* Particle-based two-phase flow
    * Reference needed
* Particle-based multiphase (more than 2) flow
    * Reference needed

I separated two-phase and

[2017-06-11 10:02] doyubkim commented on #101
@marcelsan, let's discuss this issue and see how we can implement each solver. The references are not complete, yet. Also, please let me know if this is aligned with your original thinking.

[2017-06-13 18:20] marcelsan commented on #101
@doyubkim Sure! This week I have some deadlines and I will not be able to discuss but next monday I talk to you.

[2017-06-22 05:13] doyubkim commented on #100
I created another repository (https://github.com/doyubkim/fluid-engine-dev-demo) to host the rendering files.

[2017-06-22 05:13] #100 closed

[2017-06-23 07:13] doyubkim commented on #17
Everything except AMGPCG is completed. Leaving that as another bulk of work and closing this ticket.

[2017-06-23 07:13] #17 closed

[2017-08-07 22:54] Immocat opened #109 "Student's problem about the implementation of custom implicit surface"
Thanks for your code and book. I am a student learning fluid simulation, and I am a little confused about the implementation in custom_implicit_surface2(3).cpp

For instance, near line 125, function closestIntersectionLocal, file fluid-engine-dev/src/jet/custom_implicit_surface2.cpp:

[code]

As far as I know, the function  "fractionInsideSdf" always returns a positive number in [0, 1]. Also, the

[2017-08-08 04:49] doyubkim commented on #109
Hi @Immocat ! Thanks for your question. I think you found a bug in the code :)

[code]

So assume that we are under the situation like above. Point `x` is where the surface lies which is closer to `B`. The ray is marching from left to right, with fixed step `_resolution` (the interval between the bars `|`). If `newPhi` has different sign with `prevPhi`, we want to compute the distance of `x` betwe

[2017-08-08 10:39] doyubkim commented on #109
Just merged the fix to the master. Please let me know if you have further questions!

[2017-08-08 10:39] #109 closed

[2017-08-09 18:36] Immocat commented on #109
Thanks for your detailed explanation. :)

[2017-08-19 02:05] zhxx1987 commented on #68
feel free to let me know regarding algorithm details and implementation

[2017-08-19 05:25] doyubkim commented on #68
Thanks, @zhxx1987 ! I haven't started developing IVOCK, yet, but will definitely ask you if I face any problems during the implementation.

[2017-09-25 14:16] doyubkim opened #122 "CI Improvements"
CI should be improved overall including:
* Include Ubuntu 16.04
* Latest version of compilers (gcc and clang)
* Revive macOS builds
* Fix hanging branch build with AppVeyor

[2017-10-06 13:55] #122 closed

[2017-10-10 07:02] doyubkim commented on #19
This has been the most wanted feature for a long time. I think it is the right time to make some push on this issue, together with Issue #18.

This issue is not very different from Issue #18. In fact, the new architecture and API should be carefully designed so that the both goals can be achieved within a unified framework.

This requires some internal re-architecturing:

1. The computation code s

[2017-11-05 15:22] vtgstudio commented on #19
... looking forward to this feature.

[2017-11-09 15:31] danielwinkler commented on #19
Hi Doyub,
will this development process be available in the repository (e.g. dev branch or public fork)?

[2017-11-09 18:50] doyubkim commented on #19
@danielwinkler, I will push the intermediate work to a dev branch. Current `dev` branch has some GL work which is the groundwork for this GPGPU effort.

[2017-12-03 03:50] Immocat opened #130 ""anisotropic_points_to_implicit3" problem"
Hi,
It's me (#109) again :smile_cat: . I find a problem with anisotropic point to implicit3.
#### What problem:
Here is a screenshot:
![Image of hole](https://immocat.github.io/hole.png)
It seems not correct for a dambreak at frame 0.

#### How:
I just run a sph dambreak demo similar to sph_sim example 3, and here is the .pos file at frame 0 that I got.
[frame_000000.pos](https://www.dropbox.com/s

[2017-12-03 06:45] doyubkim commented on #130
Thanks for finding this, @Immocat! Let me take a look at the problem. I’m not sure if the magic number is the real root cause, but still very interesting find.

[2017-12-03 07:29] dokipen3d commented on #130
Hi all.

I've been implementing this paper at work using vdb pointDataGrids into a volume grid. I have been a bit confused by that magic number too. I've also encountered banding at the voxel splat stage. I think I'm close to figuring out what the issue is and it's related to the magic scaling.

So here's the problem (I think). I have a particle grid (which stores the particles in 'index' space ie

[2017-12-03 20:09] doyubkim commented on #130
Thank you for chiming in, @dokipen3d! Yes, I also experienced similar issues with the kernel support not being fully captured by the grid points. Probably this is related to that issue based on the first screenshot @Immocat attached (SDF being not smooth which indicates kernel cut-off).

[2017-12-04 01:46] Immocat commented on #130
Thanks for all your replies.
Although using the ks = 1400 solve the "hole" problem, I found a new problem:
![compare_band](https://immocat.github.io/compare_band.png)
I'm not sure if it is the banding problem @dokipen3d  mentioned. I used the same frame particles to generate these two meshes, while the left one's grid spacing is  0.01 and the right is 0.02.

So for my current project, I choose to

[2017-12-04 02:11] doyubkim commented on #130
That is great suggestion, @Immocat. Yes, I was also not very proud of the performance of the anisotropic implementation. The SDV is not very efficient, but also using the uniform grid also make things slow. Let me open a separate ticket to cover that issue.

[2017-12-04 02:13] doyubkim opened #131 "Performance improvements for point-to-surface reconstruction solvers"
As mentioned in the thread #130, there are some perf issues on the reconstruction solvers, especially the anisotropic one. Using faster SVD solver as well as adaptive grid may address the issue.

[2017-12-04 02:22] dokipen3d commented on #130
I've been using eigen's svd for the moment. At one point I had a slow access pattern for the vdb neighbour search and the svd wasn't an issue. Now I've got a faster search, the svd could probably now be looked at. There is a guy here at work who implemented the fast 3x3 svd so I'm going to look at that as well.

The banding does look familiar. It was definely tied to the voxel grid res. It varied

[2017-12-04 07:35] doyubkim commented on #130
Just pushed a branch with a potential fix. @Immocat, if you can checkout that branch and see if it fixes your problem, that would be great. It seems to work with most of my test cases including your attached file.

The actual bug was caused by wrong clamping of the singular values after SVD step.

Not related to the bug, but if I make additional comment on *my* magic parameter, I'm actually implem

[2017-12-04 07:35] dokipen3d commented on #130
Why would absmax fix the holes? Can svd give negative scales?

[2017-12-04 08:03] doyubkim commented on #130
@dokipen3d great question. I think my PR and comment were misleading. Apparently, the version of implementation I'm using for SVD does generate negative output, which is totally fine unless I carry the sign all the way to the G matrix. So the fix is cancelling out the sign part and use the abs scale to construct G. But as I type this comment here, I think I can make my code and comment more clear.

[2017-12-08 06:51] doyubkim opened #133 "Banding issue with the anisotropic surface reconstruction"
See the threads from #130 and #132.

[2017-12-08 23:03] #130 closed

[2017-12-09 07:39] doyubkim commented on #31
This feature is almost ready to roll out (checkout `viz` branch). I'm introducing `jet.viz` module with GL implementation inside. Documentation and Python binding is still missing, though. Also, name of the module may change since I think there should be a better name than `viz` :)

[2017-12-20 15:46] mmmovania commented on #31
Thanks will have a look :)

[2017-12-24 16:05] utilForever opened #138 "Fail unit test: GridSinglePhasePressureSolver2.SolveSinglePhaseWithMg"
I found that unit tests failed intermittently on macOS High Sierra (utilforever/CubbyFlow#233). The error log looks like this: Can you check it?

[code]

[2017-12-24 17:36] doyubkim commented on #138
Thanks, will look into this.

[2017-12-25 06:08] doyubkim commented on #138
This issue is now fixed on master.

[2017-12-25 06:17] utilForever commented on #138
Thanks. I'll fix it on CubbyFlow soon.

[2017-12-25 08:48] #138 closed

[2017-12-27 21:06] doyubkim opened #141 "More examples & demos"
Jet come with several example simulations and there are some demo videos generated from the examples. It would be great if we can have better and broader set of examples. Below are my short wishlist:

* FLIP or APIC simulation with complex boundary settings
* Liquid (level set or hybrid) sim with high viscosity, maybe time varying
* More smoke sim demos
* Interactive demos (when `viz` and `gpu` br

[2017-12-27 21:15] doyubkim opened #142 "More language bindings"
This is not an urgent issue, but having additional bindings, such as .NET, Obj-C, Go, Rust, etc, could be fun. Jet used to have some .NET and Obj-C bindings but deprecated due to the complexity of the binding code and negative impact on core Jet implementation. If someone can make contribution to this effort, it would be great.

[2017-12-27 21:21] doyubkim opened #143 "Clean-up dependencies"
Jet Framework depends on several other libraries, and some of them are outdated or not quite utilized from Jet.

Here’s the wishlist:

* Deprecate libobj and use tinyobj by @syoyo (https://github.com/syoyo/tinyobjloader)
* Deprecate pystring and reimplement necessary portions
* Deprecate winix (getopt) and use one of modern libraries such as argparse
* Update cnpy

[2017-12-31 23:33] utilForever commented on #142
CubbyFlow provides APIs to support various languages such as Python, Go, Rust, and C #. If you like, I would like to help you support the Jet framework as well. Before that, I'm building a few repositories that generate code for each language in C++, like pybind11.

[2018-01-01 03:46] doyubkim commented on #142
That would be great. What's the priority for those languages? I'm considering either Go or WinRT for the next pick.

[2018-01-01 05:00] utilForever commented on #142
I am considering Python> Go = C #> Rust in order. But others have asked for Kotlin, JavaScript, Lua, and so on. So I'm thinking of implementing these languages as well.

[2018-01-01 08:34] doyubkim commented on #142
(Just thinking out loud here)

Getting C# binding will be much easier, especially if we use C++/CX (WinRT). Go/Lua binding could be quite challenging due to the difference between C++ and these languages. But if we can come up with C-style (or actual C) wrapper around Jet Framework, that would make Go/Lua binding easier. Kotlin sounds fun, especially for mobile. For JS, it should be more like a po

[2018-01-01 09:30] utilForever commented on #142
First, I tried to use pybind11 to support the Python API. However, my code didn't use pybind11 because I used C++17 features. Therefore, we are creating pybind17 which supports it. Similarly, we are creating gobind17 and rustbind17. Of course this is not an easy challenge, but I will try to implement it once.

[2018-01-02 20:42] doyubkim commented on #18
Another potential solution: https://github.com/ospray/tsimd

[2018-01-09 08:10] doyubkim commented on #31
I've merged (technically, I rebased, but..) `viz` branch into `gpu` branch. Any latest dev work will happen in `gpu` branch. Note that it also contains some CUDA experiments, so if you don't want that feature, you can turn if off by passing -DUSE_CUDA=OFF to the cmake command. Both GL and CUDA are WIP, so there might be some build issues. (I'm mostly testing with macOS and Windows + Visual C++ 201

[2018-01-09 08:15] doyubkim commented on #19
This issue is now under development in `gpu` branch (together with Issue #31). Nothing really useful at the moment, but hoping to get SPH implementation out soon.

[2018-01-19 14:03] akav commented on #19
Would it be worth looking at OpenACC as a stepping stone on the path to GPGPU acceleration?

[2018-01-22 05:44] doyubkim commented on #19
Thanks for the suggestion, @akav ! OpenACC is an interesting approach since it will make the code more readable. I am already working on SPH solver with CUDA, but it would be interesting to compare OpenACC and CUDA implementations in the end.

[2018-01-22 06:58] akav commented on #19
When OpenACC branch is available, core should in theory be able to accelerate on FPGA as well and other OpenCL devices too.

[2018-01-22 21:59] subatomicglue commented on #141
[code]
Does this imply that realtime demos (i.e. OpenGL) are being worked on?
I see jet.viz with a bunch of OpenGL files.  Exciting!

What help needed did you have in mind for interactive / realtime?

[2018-01-22 22:09] subatomicglue commented on #19
Down side of CUDA is no support on MacBook Pros with ATI graphics...  I realize these aren't the graphics beasts of the world, but... :)   Hoping for selectable simulation engine so I can fallback to C++ (SIMD or other fast approach on CPU).   Slow is better than none...

[2018-01-22 22:15] subatomicglue commented on #18
There is the bullet physics math library which has SIMD extensions...  https://github.com/bulletphysics/bullet3/tree/master/src/LinearMath

Older versions of this was called the "Sony Vector Math Library", but it looks like they consolidated it to what Bullet Physics  needed....

Sony Vector Math lib here:
https://github.com/erwincoumans/sce_vectormath

[2018-01-22 22:27] subatomicglue commented on #31
How would you recommend to solve the `glfw3` dependency?

[code]

[2018-01-22 22:30] subatomicglue commented on #31
I just copied this file
https://raw.githubusercontent.com/JoeyDeVries/LearnOpenGL/master/cmake/modules/FindGLFW3.cmake

to my `cmake/` directory under the fluid engine...

Which allows me to `cmake`!   Ok, then I `make -j8` and I get this:

[code]

[2018-01-22 22:39] subatomicglue commented on #31
Ok, solved that by doing this (on MacOSX...):

[code]

This got me going!

[2018-01-23 08:42] akav commented on #19
By adding an external GPU chassis (needs Thunderbolt3) with an NVIDIA graphics adapter to your MacBook, core engine should deploy and run perfectly fine.

[2018-01-23 09:04] danielwinkler commented on #19
my two cents regarding OpenACC

I really like the idea and started a project using it.
However, as soon as you run into problems the high level of abstraction is prohibitive and I had to use stackoverflow to discuss this issues with the compiler developers (which are responding very fast).

One very annoying problem was that you couldn't have pointers in a struct (SOA), solution was to fall back t

[2018-01-23 09:23] doyubkim commented on #31
Thanks for trying out the branch, @subatomicglue ! For macOS, you can use Homebrew to install glfw. (For Ubuntu, apt-get. For Windows, NuGet.) But yeah, I also want to make the code almost self-buildable with very basic build tools, so let me see if I can think of alternative approaches (such as git submodule or CMake externalproject_add).

[2018-01-23 09:27] doyubkim commented on #18
Thanks for the resources! I will take a look.

[2018-01-23 09:37] doyubkim commented on #141
There is super simple 2D smoke demo in`gpu` branch actually. The solver is still based on CPU yet.

For any help on the interactive demos, I think simple game-like 2-D demo could be fun. For example, Figure 4 from the following paper shows some interesting stuff:
http://graphics.snu.ac.kr/publications/journals/2005%20Song%20ACM%20TOG.pdf
You can pour water or add boundaries interactively, and I th

[2018-01-23 14:08] subatomicglue commented on #141
I got the `gpu` branch, compiled, and ran `stam_sf` on my MacBookPro (ATI graphics, no CUDA).
 Worked great.

`Fig4` would be a great 2nd demo, agreed.  I have lots of experience with OpenGL/games, but just Reading the book now.  I'll keep this idea in mind as i read, and check back here when I understand the fluid side enough to execute on the idea.

[2018-01-23 15:21] subatomicglue commented on #18
The Sony one is very similar to ones I used on Xbox360 and Playstation3 for high performance.

We are fortunate that [Sony opensourced it](https://pybullet.org/Bullet/phpBB3/viewtopic.php?p=&f=18&t=1322).   It's pretty rare to find a production quality math lib especially with with native vector intrinsics / SoA.  On closer look, Bullet Physics appears to still be using it, just as an external rep

[2018-01-25 06:04] doyubkim commented on #141
Thanks, @subatomicglue. That would be awesome :)

BTW, `stam_sf` demo is from Jos Stam's 2003 GDC presentation and will be excluded before merge. (It's the most minimal fluid solver you can get which is great for perf baseline.) Please try out `smoke_sim2d` which uses Jet implementation.

[2018-02-05 07:22] doyubkim commented on #19
Thank you all for the discussion! Great to learn more about OpenACC. I think portability vs. productivity is always a hard question, especially on GPU framework given the currently available solutions. I will continue with CUDA in order to complete the feature as soon as possible, and look into either OpenCL or OpenACC for additional backend.

FYI, there's been some progress on WCSPH with CUDA lat

[2018-02-16 07:36] doyubkim commented on #19
Update: Prototype version of 3D WCSPH and PCISPH are now implemented. The code is super hacky, not optimized, and may have some bugs. But hey, things do seem to work.

For the following weeks, I will spend some time cleaning up the code and adding 2D solvers. I'm trying to figure out when would be the best time to merge this branch back to master due to API breaking changes and feature coverage (m

[2018-02-23 07:28] doyubkim opened #150 "More TBB integration other than parallelFor"
Currently we have a TBB backend for parallelFor calls, but parallelSort and parallelRangeFor still fall back to std::thread implementations. TBB support for those functions would be beneficial, not just for the performance but also for consistency.

[2018-03-05 09:04] giordi91 commented on #19
Just to double check whats the current state of the feature? I am currently working through the book( currently working on my SPH implementation) I love gpgpu computing and that s what I do for work, I would love to help with that, maybe in the optimization stages? So just wanted to figure out the current stage of the branch from you before going in and have a look around.

M.

[2018-03-05 09:21] giordi91 commented on #18
Often much of the computation speed up from simds doesn't come up from vector operation, true a vector maps to a simd register nicely but often the operation do not, like cross and dot are not crazily simds friendly. The real good speeds up comes from processing like 4-8 particles at the time, in those cases SOA data layout helps a lot. I would expect particles to map quite well with that. If you

[2018-03-06 06:37] utilForever commented on #142
I recently started working on CubbyFlow to support the C# API. In order to support cross-platform, I am working on binding using a library called CppSharp (https://github.com/mono/CppSharp). If I get a good result, I'll also work on the Jet framework and get a pull request.

[2018-03-06 06:37] doyubkim commented on #18
Thanks for the great input, @giordi91 and @subatomicglue!

I haven't spent much time on this topic lately. But as @giordi91 mentioned, I also think batch processing of particles (4~8 in bundle) would be nicer. That becomes a little bit tricky when dealing with SPH operators which are essentially `for each neighbor { ... }` since it's likely to be an unordered random neighbor access, though.

Grid-

[2018-03-06 06:39] doyubkim commented on #142
Amazing news! Thanks for the update, @utilForever. If we can have C# API alongside with Python API, it would be extremely useful.

[2018-03-06 06:43] doyubkim commented on #19
Thanks for checking in, @giordi91. Great to hear that GPGPU is one of your expertise! Once I clean-up the code (unoptimized), I think you can definitely help me out on the optimization. At this moment, the code is too messy, but allow me about a couple of weeks for the house cleaning.

[2018-03-07 07:14] #150 closed

[2018-03-08 07:27] doyubkim opened #153 "Python API and PEP 8"
Current Python API follows corresponding C++ API naming convention which partially breaks PEP 8 (ex. function names). Other frameworks such as TensorFlow for instance, seems to follow language-specific guidelines. That would be ideal for Jet framework as well. However, changing the naming convention will break the API obviously, so it should target for v2.

[2018-03-14 09:05] giordi91 opened #155 "[Question] Evaluating gradient at particle vs at point"
Good morning, I got a question about sampling the gradient or more generically a field.
Let's take as an example the density gradient, the gradient can be sampled at every point, and the result will be the sum of the weighted densities of all nearby particles. Now that is all good if I am sampling in a generic way the gradient, but when I am sampling the gradient in order to update a value of part

[2018-03-14 09:25] giordi91 commented on #155
Apologies, after reasoning more about it, the derivative would be zero, for  i==j, meaning we would end up adding nothing to the gradient. Avoiding the i==j case is basically a small optimization. Please correct me if wrong.
In my code I have organized the grid to hold the particles in buckets, so I don't have a list where for each particle I have all the neighbors, but from a position, I find a c

[2018-03-14 09:25] #155 closed

[2018-03-15 08:39] doyubkim commented on #155
Hi @giordi91 ! Yes, I think you got it right. i == j will give you zero gradient contribution from j. All the operators including gradient and laplacian can be computed from any random points in the space. Some non-SPH methods have 1/r factor in the equation which introduces singularities, but for SPH, it's all good :)

[2018-04-05 22:45] utilForever commented on #142
Update: I apologize for the delay in responding to implementation.
I was in the army for about a month and could not answer.
I'll resume work from today, so please be patient. Thanks.

[2018-04-08 08:10] doyubkim commented on #142
@utilForwver, no problem at all. Welcome back from the training.

[2018-04-11 23:09] utilForever commented on #142
Update: I tried to use CppSharp to generate C # or C++/CLI code, but I decided not to use it because I had difficulty using it for various reasons. Instead, I started to write my own C++/CLI code and implement it for use in C#. As a result, I saw the possibility. I've implemented the Frame class for testing, and I've found success in a C# unit test project. I'll implement C++/CLI code for the rest

[2018-04-19 06:05] doyubkim commented on #142
@utilForever and I had an offline discussion and decided to revive my old prototype for both C++/CLI and CX. I will create a new branch (let's call it `csharp` branch) and port my old code there. It will provide the initial binding mechanism, but no actual wrapper codes. We can add actual wrappers and improve the binding code simultaneously.

The key requirements would be:

1. Should support both

[2018-04-21 02:14] utilForever commented on #142
I have verified that the ```csharp``` branch has been created. It still have only an empty project, is the porting done? I would be grateful if you could inform me when it would be okay for me to start working.

[2018-04-22 06:22] GameLogicDesign opened #156 "Need a null pointer check in ImplicitSurfaceSet3::closestPointLocal"
If a ImplicitSurfaceSet3 is empty and has no surfaces, then the bvh will have no nodes. Calling the function ImplicitSurfaceSet3::closestPointLocal will then crash since the queryResults item is null.

const auto queryResult = _bvh.nearest(otherPoint, distanceFunc);
return (*queryResult.item)->closestPoint(otherPoint);

[2018-04-22 18:53] doyubkim commented on #156
Thanks for finding this! Working on the fix now.

[2018-04-23 14:15] doyubkim commented on #156
Should be fixed by #157

[2018-04-23 14:15] #156 closed

[2018-04-23 19:56] GameLogicDesign opened #159 "Crash building TriangleMesh BVH inside ParallelFor"
I am building using JET_TASKING_CPP11THREADS.

If you create an emitter from a TriangleMesh3 and add it to a LevelSetLiquidSolver3 as an ImplicitSurface3 using SurfaceToImplicit3, then when you do the solver update it will crash in a ParallelFor since multiple threads are triggering the build of the bvh.

To work around this you can call updateQueryEngine() for each emitter.

However the above is

[2018-04-24 06:46] doyubkim commented on #159
Thanks for filing another great issue! Function `updateQueryEngine()` is there for that exact purpose and it should be called for emitters, not just for colliders. Will push the fix soon.

[2018-04-24 14:13] #159 closed

[2018-05-03 06:23] doyubkim opened #162 "Upgrade to C++14"
Some features like constexpr, attribute, variable template, and better type deduction would make the code more cleaner. Should be very cautious, though. "Modern" != "Clean/Better"

This means we also want to upgrade the minimum build tool requirements. The out-of-the-box solution for any given OS should support C++14 (or the feature we need at least).

[2018-05-03 06:26] doyubkim opened #163 "Package manager support"
At least PyPI should be supported. Debian APT/Homebrew/NuGet/vcpkg also can be considered.

[2018-05-03 06:27] doyubkim opened #164 "Auto-build documentation"
Documentation is currently maintained manually. Push-based documentation build is ideal, such as ReadTheDocs.

[2018-05-03 07:49] doyubkim opened #165 "Jet Framework v2 - Planning"
This issue will track and planning part of the Jet Framework v2 milestone.

## Scope
* GPU-based simulation (CUDA)
  * GPGPU - #19
* Real-time visualizer (GL and DX, and hopefully Metal)
  * OpenGL visualizer - #31
* New solvers (PBD + α)
  * Position-based Fluids - #16
* API improvements (View, Emitter, PEP8, C#, etc)
  * PEP8 - #153
  * C# - #142
* Performance enhancements (ParticleEmitter, Poin

[2018-05-03 16:06] utilForever commented on #142
@doyubkim Thanks. I'll look at it.

[2018-05-05 14:09] utilForever opened #166 "Replace getopt library with Clara"
I'll replace the ```getopt``` library with the ```Clara```. ```getopt``` library is inconvenient to use, so I want to replace it with a library that supports a more convenient way.
- Clara : https://github.com/catchorg/Clara

[2018-05-05 14:29] doyubkim commented on #166
Thanks! Does Clara provide auto generated help message? How does it compare to https://github.com/hbristow/argparse or other similar libraries?

[2018-05-05 18:33] doyubkim commented on #166
Cool. Let’s add it as a git submodule.

[2018-05-08 03:57] utilForever opened #167 "Fix link error problem in mem_perf_tests"
If you have the latest version of ```googletest```, you will get link errors when building the ```mem_perf_tests``` project. This problem is caused by the ```ColoredPrintf``` function becoming a ```static``` function. I'll fix it.

[2018-05-08 15:04] doyubkim commented on #167
Current ColoredPrintf is actually a hack. Would be great if we can replace it with a version that does not depend on gtest.

[2018-05-08 15:07] utilForever commented on #167
There are several solutions. For example:
[code]

[2018-05-09 05:27] doyubkim commented on #167
Coloring would be ideal, but not necessary. I actually would like to rewrite the memperf tests in general (using gtest is just another hack). In order to make future transition (i.e. remove gtest dependency), let's use simple wrapper function around printf, such as:

[code]

[2018-05-09 05:41] utilForever commented on #167
Okay. I am going to modify the code using the above method and then pull request.

[2018-05-14 12:17] syoyo opened #170 "jet::FdmMgSolver2 does not have virtual destructor."
When I compile code using clang(from Android NDK), it gets the following compilation error.

[code]

It could be reproducable by using clang++ with `-Wall -Werror` compiler flags.

Easiest solution would be adding empty definition of virtual destructor for `jet::FdmMgSolver2` class, but I'm not sure its safe to do it(there may invoke some side effects on memory management?).

[2018-05-14 14:53] doyubkim opened #171 "Specify warning levels"
CompileOptions.cmake is currently too generous. Should raise to Wall (at least w4 for VC++)

Related: #169, #170

[2018-05-15 23:41] utilForever opened #172 "Replace libobj library with tinyobj"
I saw Issue #137. I'll replace ```libobj``` library with ```tinyobj```.

[2018-05-16 06:49] doyubkim commented on #171
Actually, `CompilerOptions.cmake` already sets warning level to -Wall or /W4.

To address missed warnings, more test cases should be added. At the moment, MSVS2017, Clang 6, GCC 8.x seems to be a good test set. We can add Clang 7 and GCC 9 once they get released, too.

[2018-05-19 16:28] #170 closed

[2018-05-19 16:28] #171 closed

[2018-05-19 17:46] syoyo commented on #170
Thanks!

[2018-05-23 04:58] #167 closed

[2018-05-23 06:34] doyubkim opened #175 "Migrate to pytest for unit testing Python API"
WIP from `python-api-fix` branch

[2018-05-23 06:37] doyubkim opened #176 "Better test coverage for Python API"
Current test coverage for Python API is too low. Should add more tests and have code coverage report.

[2018-05-23 06:49] utilForever opened #177 "Codecov support"
```Codecov``` is an online platform that provides hosted testing reports and statistics for its users. It supports ```googletest``` and ```pytest``` and free for open sources. This will help you measure code coverage.
- Codecov : https://codecov.io

[2018-05-23 07:10] doyubkim opened #178 "Test coverage report for C++ API"
Related to #177, incorporate gcov/lcov. Good example can be found from: https://github.com/codecov/example-cpp11-cmake

[2018-05-23 07:13] utilForever commented on #178
I added codecov to Hearthstone++ project. (https://github.com/utilForever/Hearthstonepp)
I will help you. :)

[2018-05-23 08:20] doyubkim commented on #178
Great! Assigned to @utilForever

[2018-05-24 08:15] doyubkim commented on #19
Here are some updates and future plan for this task.

1. Multidimensional Arrays
Lots of base code updates been made, mainly around multidimensional arrays. I'm trying to make simple, but robust array API that works for both CPU and GPU memories. Still work in progress, but near complete (except replacing existing CPU array API).

2. CUDA Texture
Instead of using C++ polymorphism for representing

[2018-05-25 07:45] utilForever commented on #177
I added Codecov to CubbyFlow-v0 (https://codecov.io/gh/utilForever/CubbyFlow-v0).
I'll be working on the Jet Framework soon. Please wait a moment for me to prepare for the presentation tomorrow.

[2018-05-25 08:00] doyubkim commented on #177
Let's separate the task into two:
1) Let's make `lcov` working (#178) and
2) Integration to Codecov.

I just created my account for Codecov so setting up the webhook should be straightforward. Once your PR for #178 gets raised and merged, I will take care of the integration part.

[2018-05-25 08:02] utilForever commented on #177
Okay. I'll work on weekend.

[2018-06-16 00:27] #172 closed

[2018-07-05 15:12] doyubkim commented on #178
@utilForever any updates on this? Just checking in, no pressure :)

[2018-07-05 17:29] utilForever commented on #178
@doyubkim Oh, sorry. I'm working a very busy days due to the summer vacation period.
I'll take a moment to work on the weekend. Please wait a minute. 😭

[2018-07-05 18:50] doyubkim commented on #178
@utilForever hey no worries! I was just checking in. No need to rush.

[2018-07-06 06:12] utilForever commented on #178
@doyubkim Oh, of course I know. Just think I don't be lazy and put up the hare. :<

[2018-07-11 00:57] trandana opened #182 "Can't build for visual studio"
Can't get master to build for Visual Studio.  Win64 always fails and cmake gives a "cant find pthread.h" error, despite having TBB and OpenMP installed

[2018-07-11 01:02] #182 closed

[2018-07-27 03:11] #178 closed

[2018-07-30 19:40] WenyinWei opened #183 "New comer's greeting"
Dear Dr King,

Surprised by your great 3D simulation technique, I am a young undergraduate student in China majoring in plasma physics which has a similar need compared to liquid simulation. What do you think of using Python as a major tool to replicate the liquid simulation code with Pycuda and PyOpenGL? I am not sure how well does its renderer functionality work and whether it satisfies the need

[2018-08-01 21:33] doyubkim commented on #183
Hi Wenyin!

I would recommend implementing the algorithms with NumPy and Matplotlib first. Once you get the fundamentals of the simulation, then you can go for CUDA/GL to make it faster. But working directly with CUDA/GL first could end up debugging things that are not related to the main algorithm and waste too much time on low-level debugging.

[2018-08-02 06:25] doyubkim commented on #183
Feel free to make any contributions to this repository since it is an open source project :) Common way is to folk this repo, do your own experiments, raise a pull request, and then get merged.

[2018-08-02 07:40] WenyinWei commented on #183
Really thanks for your warm reply!

[2018-08-05 07:34] #177 closed

[2018-08-05 07:36] doyubkim opened #185 "Removing stale branches"
@utilForever I will remove `test-coverage` and `tinyobj` branches since they are merged. Please let me know whether you want to keep them or not in the next couple of days.

[2018-08-05 07:37] utilForever commented on #185
I deleted ```test-coverage``` and ```tinyobj``` branches. Thanks. :)

[2018-08-05 07:46] utilForever opened #186 "Integrate Codecov and pytest into Python API"
Codecov supports python coverage using ```unittests```/```pytest```/```nosetests```.
I'll work on CubbyFlow-v0 first and then apply it to this repository.

[2018-08-05 07:47] doyubkim commented on #185
Awesome, thanks!

[2018-08-05 07:47] #185 closed

[2018-08-10 05:15] heavenisaplaceonearth opened #187 "cannot compile correctly"
Greetings I have a trouble to compile your scripts by cmake

I followed whole instruction and I got error

the following is the error

CMake Error at CMakeLists.txt:73 (add_subdirectory):
  The source directory

    C:/Users/id/Desktop/Research/fluid-engine-dev-master/external/googletest

  does not contain a CMakeLists.txt file.

CMake Error at CMakeLists.txt:78 (add_subdirectory):
  The source d

[2018-08-10 06:13] doyubkim commented on #187
Hello!

Try running the following:

    git submodule update --init

It will clone the dependencies into the empty directory.

[2018-08-10 12:39] heavenisaplaceonearth commented on #187
@doyubkim Thank you for your prompt answer. It solved by direct downloading through git. But I met another barrier. I followed window installation instruction but got error in

MSBuild jet.sln /p:Configuration=Release

below is one of the error message

emitter.cpp) [C:\Users\id\Desktop\Research\fluid-engine-dev\build\src\pytho
n\pyjet.vcxproj]
  c:\users\id\desktop\research\fluid-engine-dev\exter

[2018-08-10 14:39] doyubkim commented on #187
Hmm that is strange. What was your CMake parameter? Was it `-G"Visual Studio 15 2017 Win64"? Can you attach the error log that contains the "warning" message (which triggers the C2220 error)?

[2018-08-24 05:41] #175 closed

[2018-09-05 17:58] PavelBlend opened #191 "Integrate in blender 2.79"

[2018-10-07 05:07] doyubkim commented on #191
Thanks for the suggestion. Integrating Jet Framework into 3D packages such as Blender3D, Maya, Houdini, etc would be amazing. In fact, Kent Barber ported Jet into a Cinema4D plugin (http://www.jetfluids.com). But since I do now have that much of experience with writing Blender3D add-ons and my bandwidth is quite full already, I'd like to keep this as an open issue to everyone who wants to contribu

[2018-10-07 05:57] doyubkim commented on #153
@utilForever volunteered to work on this issue!

@utilForever, currently `dev-v2-gpu` is the main dev branch for the v2 release. This contains new C++ APIs (such as new vector/matrix implementations) so it would be great to start from there. You can branch out from `dev-v2-gpu` and create something like `dev-v2-gpu-pep8`, make changes, and raise PR against `dev-v2-gpu` (not the `master` of course)

[2018-10-07 06:09] utilForever commented on #153
@doyubkim Alright. I'll start working today.

[2018-10-07 20:52] wangzhezhe opened #193 "installation issue by cmake"
Hello, I use mac 10.13.4, Python 2.7.10, cmake version 3.12.3, and I get following errors when I run `mkdir build && cd build && cmake .. && make` , could you help me to solve this error? Thanks!

[code]

[2018-10-08 00:16] doyubkim commented on #193
Thanks for reporting the issue. I will take a look!

[2018-10-08 05:56] doyubkim commented on #193
I don’t have exactly the same configuration on my hand, but when I build the latest code with macOS 10.14 + Python 2.7.15 (via Miniconda), I was not able to reproduce this.

Can you provide more information including which commit ID are you at? Also, can you also try cloning (with recursive flag) a fresh copy of the code and try rebuilding it again?

[2018-10-08 08:34] TAMREF opened #194 "Slight typos in Vector4-inl.h"
Hello!
I'm studying how to build Math Library from your repository. I appreciate your efforts.
While reading the source code, I found something looks like a typo in your details/Vector4-inl.h :

Especially, maybe the fifth line for the functions `dominantAxis()` and `subminantAxis()` (Line 264 and Line 275 in the original file) should be modified from `std::fabs(x) > (or <) std::fabs(w) ? 2 : 3`to

[2018-10-08 08:59] utilForever commented on #194
Thanks! I'll check it.

[2018-10-09 00:32] wangzhezhe commented on #193
Thanks, It works for me after updating the Xcode. BTW, what visualization tool is used to show the data in different time step for this project? I tested several examples in  ./bin , some of them output .obj data and some output  .xyz data.

[2018-10-09 01:33] doyubkim commented on #193
Great to hear it got fixed by updating Xcode! Both obj and xyz files can be visualized with other open source packages such as MeshLab. For manual_tests output, you can use render scripts under scripts folder.

[2018-10-09 01:33] #193 closed

[2018-10-10 21:37] doyubkim commented on #194
Yep, that’s a bug. Thank you for reporting this!

[2018-10-12 18:27] ryanastout opened #196 "ImplicitSurfaceSet3's closest point doesn't seem to work correctly"
In the sph_sim example, there are 3 different examples. For examples 1 and 2, the emitter is a sphere at (.5, 1, .5) with radius .15 and a plane with normal (0, 1, 0) and point (0, .5, 0). However, calling

surfaceSet->closestPoint(Vector3D{.5, .4,.5});
returns a Vector3D at  (0.5, 0.85, 0.5) which is a point on the sphere despite (.5, .5, .5) being on the plane and closer to the queried point.

I

[2018-10-13 00:32] doyubkim commented on #196
Thanks for reporting this! I will take a look.

[2018-10-13 04:28] doyubkim opened #197 "Fix CI fail due to Python requirements"
The package requirement should be more specific about the versions.

[2018-10-14 16:38] doyubkim commented on #197
Fixed by #198

[2018-10-14 16:38] #197 closed

[2018-10-14 23:28] doyubkim commented on #196
Work around fix by @ryanastout is merged, but it does not fix the fundamental problem where unbounded types such as plane is added to a (implicit) surface set. Will keep this issue open until I raise another PR to address that issue.

[2018-10-16 15:25] #196 closed, assigned to doyubkim

[2018-10-18 16:17] utilForever commented on #153
@doyubkim Thanks. I'll work on this weekend. Please understand that my health is not very good.

[2018-10-18 16:18] utilForever commented on #194
@doyubkim Thanks. I'll work on this weekend. Please understand that my health is not very good.

[2018-10-19 04:38] utilForever commented on #194
@doyubkim Thanks. I'm OK now. So, please take this issue to me. 😄

[2018-10-19 04:48] utilForever commented on #153
Same as the other issue: @doyubkim Thanks. I'm OK now. So, please take this issue to me. 😄

[2018-10-19 22:15] kentbarber opened #200 "PicSolver error when no Collider is present"
If you are running a PicSolver simulation but have no colliders added then in the call  PicSolver3::moveParticles(...) it does the following...

Collider3Ptr col = collider();
if (col != nullptr)
{
  //A valid pointer is still returned, it just contains no surfaces or unbounded surfaces
}

This then causes issues when the call to resolveCollision is made since it makes a call to Collider3::getClos

[2018-10-19 22:38] kentbarber commented on #162
Also I need to be able to compile with Visual Studio 2015, so any change to that requirement will also break the Cinema 4D build.

[2018-10-19 23:13] doyubkim commented on #200
Thanks for reporting this! Will take a look over the weekend.

[2018-10-19 23:15] doyubkim commented on #162
For v2, I am targeting VS 2015 / Ubuntu 16.04 for the minimum version. So I won’t use the latest 14 features if not supported on those tools/platforms.

[2018-10-19 23:17] kentbarber commented on #162
Perfect. Looking forward to trying out the new GPU work you have been doing.

[2018-10-22 08:10] doyubkim commented on #200
Freshly created PicSolver3 instance won't have any collider assigned, but I think what you are doing here is that have a collider with empty ImplicitSurfaceSet3 so that your code can dynamically add surfaces to the collider.

What I'm going to do is to double check from collider so that empty-surface collider doesn't try resolving any collisions, similar to what you proposed.

[2018-10-22 19:04] kentbarber commented on #200
Yes that is correct. Although I haven't specifically worked on dynamically adding colliders at this stage. Sorry about that, I should have mentioned my specific setup along with the report.

[code]

[2018-10-25 05:08] kentbarber opened #202 "Threading taking time to setup, slowing down simulations."
Firstly let me say I haven't run any specific numbers yet on this. But when simulating a scene on a 4 core macbook, and only using 2 of those cores (at 100%), it seems to run significantly faster than when I run it on my 10 core i7 windows machine, using 8 of the cores at about 14% of their usage.

I am using JET_TASKING_CPP11THREADS threads.

I believe the slow down is due to the time required to

[2018-10-25 05:55] doyubkim commented on #202
Thanks for the finding, @kentbarber !

As you already discovered, `JET_TASKING_CPP11THREADS` is the least efficient way for parallelizing the task. It doesn't have any smart scheduling or job distribution mechanism and is the minimalistic parallelization. I recommend testing out with TBB option and see how it scales. Also, please take a look at PR #145 which shows earlier experiments done by @jeff

[2018-10-25 06:09] kentbarber commented on #202
I have been meaning to try out the TBB option for a while now. Does this work well on OSX with TBB? I will see if I can find time to test windows and osx this weekend. I won't use OpenMP since in the past there have been known compatibility issues with C4D so I would rather not enable it.

Also thanks for getting back to me on this issue so quickly. The framework is great!

[2018-10-25 06:20] doyubkim commented on #202
Thanks!

TBB works great on macOS. I normally install it via Homebrew (`brew install tbb`), and then the CMake should detect it automatically.

I wasn't aware of OpenMP compat issue with C4D. Do you have any references/links to this issue? Is it a problem on both macOS and Windows?

[2018-10-25 06:38] kentbarber commented on #202
I just switched it over to TBB running just now on Windows. Need to do a proper comparison, but the cores now do jump up to 40% for a particular sim, so its an improvement.

Regarding OpenMP, I don't remember the exact issue. But they moved completely away from OpenMP many years back and now have their own custom threading system. So to ensure the least amount of compatibility issues its recommend

[2018-10-25 06:46] doyubkim commented on #200
Thanks, @kentbarber for the code. The PR #201 should fix the problem. Please reopen this issue if it still happens after the merge.

[2018-10-25 06:47] #200 closed

[2018-10-25 07:16] doyubkim commented on #194
I actually have a fix for this. Would be great if @utilForever can review the PR.

[2018-10-28 00:57] #194 closed

[2018-11-14 07:45] doyubkim commented on #187
Closing this issue for now since the CI is working fine. Please reopen this issue if the problem still occurs.

[2018-11-14 07:45] #187 closed

[2018-11-16 01:04] sachk commented on #191
It'd be better to implement it in 2.8, since there's so many changes and it's coming out fairly soon. Blender's API is fairly easy to use, you could take a look at this plugin for an example.

https://github.com/rlguy/Blender-FLIP-Fluids

[2018-11-16 02:02] doyubkim commented on #191
Thanks, @sachk for the reference!

[2018-11-26 03:55] doyubkim commented on #153
@utilForever I am currently working on unifying redundant 2-D and 3-D codes and this will introduce quite a lot of changes in the Python binding lib. If you haven't started working on this issue, I recommend not starting it until the unifying work is completed.

[2018-11-28 15:54] utilForever commented on #153
@doyubkim I'm already working on this issue. I'll consider your unifying work. 🎉

[2018-12-01 09:04] doyubkim commented on #153
@utilForever the latest dev branch is now merged into the `dev-v2-gpu` branch. This contains some breaking changes in Python APIs so you may need to adapt to it. What's the latest status of this PEP8 work?

[2018-12-01 09:12] utilForever commented on #153
@doyubkim I'm now finished with exception of some grids. However, I'm working on changing the structure from 3 days ago.

[2018-12-01 09:14] doyubkim commented on #153
@utilForever thanks for the update!

[2018-12-03 23:18] KarimHassanieh opened #213 "CMake File - Compiling Single Example"
Hi Ive completed the installation and all unit test have been passed but as newcomer  I'm having some hard time come up with a CMake file to run the examples separately outside on my own without having to compile all the examples at the same time. Is there any template we can follow to run a single example (say hello_fluid_sim ) separately?
Would appreciate the support in this regards, and thanks

[2018-12-04 03:11] doyubkim commented on #213
Hi Karim!

Thanks for your question. Are you using CMake with --build option directly? If so, you can specify --target to build specific products like hello_fluid_sim. If you are using make command after cmake call, you can specify the target there (i.e. make hello_fluid_sim). If you are using MSBuild, you can use -target:<target_name>.

[2018-12-24 14:09] PavelBlend opened #217 "Project is not compiled in Release mode"
I have a Visual Studio 2017 Community.
In Release mode, the project refuses to compile.
Not enough memory.
I have 8 GB Windows 7 64 bit.

In Debug mode, the compilation is successful.

[2018-12-24 18:52] doyubkim commented on #191
Hi Pavel,

The resolution here is the simulation resolution. To increase the number of particles, you should change the spacing parameter for VolumeParticleEmitter3.

[2018-12-24 18:54] doyubkim commented on #191
Btw, it’s super impressive to see Jet Framework working with Blender! Let me know if you encounter any other issues. Once it becomes mature, it would be great to try it out from my end as well. Anyway, awesome stuff!

[2018-12-24 18:57] doyubkim commented on #217
Can you try building a single project/target, not the full solution? Also, I wonder if turning off multithreaded build helps in this case. CCing @utilForever in case he encountered similar issues before.

[2018-12-24 19:13] PavelBlend commented on #191
So far I have one problem: poor performance. We have to wait a long time for the calculation of fluid. Maybe I'm not setting the parameters correctly. Or the simulator initially works so slowly?
The gif animation above is a simulation that took 10 minutes.

[2018-12-24 20:32] doyubkim commented on #191
Can you share your code? Would like to reproduce from my end and see what’s causing the issue.
Also, is this based on the release or debug build? What is your system configuration? (OS, memory, CPU)

[2018-12-24 21:03] PavelBlend commented on #191
debug build. I could not compile the Release version.

os: windows 7 64 bit
memory: 8 GB
CPU: AMD A8 5600K 3.60 GHz 4 Core

[2018-12-24 21:15] PavelBlend commented on #191
Code:
https://drive.google.com/open?id=1fP0QJTFT2LMr9n-f5FmW4aUUouqF2pH7

Works in a daily assembly 2.79:
https://builder.blender.org/download/

[2018-12-25 13:18] PavelBlend commented on #217
did not help.
I built pyjet and got an error:

https://docs.microsoft.com/ru-ru/cpp/error-messages/compiler-errors-1/fatal-error-c1002?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DRU-RU%26k%3Dk(C1002)%26rd%3Dtrue&view=vs-2017

When I collect the entire solution, the compiler produces this error on the unit_tests project.

[2018-12-25 13:41] PavelBlend commented on #217
It was possible to assemble in MinSizeRel mode.
How will this build differ from the Release build in terms of speed?

[2018-12-25 15:52] utilForever commented on #217
@PavelBlend I think it's an error caused by a lack of memory. MinSizeRel is the same as Release, with its optimization configuration just set to Minimize size, Maximize speed in Visual Studio.

[2018-12-25 16:53] PavelBlend commented on #191
Performance problem partially solved. The problem was the same on my part.
But still the performance is low. At 100 resolution baked for a long time.

[2018-12-25 18:38] PavelBlend commented on #191
How to build a mesh of fluid particles using pyjet?

[2018-12-26 07:18] doyubkim commented on #191
I looked into your code and I think I have a couple of things I could try out (for both performance and mesh export). I think Python API was not very clear about it and also missing some features compared to C++ API. Let me post update soon.

[2018-12-26 09:07] doyubkim commented on #191
Ok, so a new PR is posted. Also added a Python example (`apic_example03.py`) to show your use case such as using `TriangleMesh3` for emitter (using `ImplicitTriangleMesh3` for accurate/fast particle generation) and exporting particles as a surface mesh (`marchingCubes`). It also shows a new trick to make sim a bit faster if water is not occupying entire domain (`solver.useCompressedLinearSystem =

[2018-12-26 15:34] PavelBlend commented on #191
All my code is now here:
https://github.com/PavelBlend/blender_jet_fluids_addon

I have a question: why does Bunny have extra particles near the ears (see the gif animation from the link above)? I used the standard bunny object from your repository. Is the particle generator not working correctly?

[2018-12-26 16:13] doyubkim commented on #191
You should use ImplicitTriangleMesh3 as a converter before assigining a mesh to the emitter. (Please check out the example I mentioned above.) This is indeed a bit confusing and will be fixed in the future. For now, that’s how it should work.

[2018-12-27 09:46] doyubkim commented on #217
I can now reproduce this issue on a Windows machine with 16 GB of RAM and VS 2017. Not sure this is VS 2017 specific problem, but let me dig in a bit more.

[2018-12-27 09:55] utilForever commented on #217
@PavelBlend What is your version of Visual Studio?

[2018-12-27 14:58] PavelBlend commented on #217
@utilForever 15.6.1

[2018-12-27 15:06] utilForever commented on #217
@PavelBlend Two months ago, I encountered pybind11 compile error on VS 15.8 and VS 15.9 preview. It was ICE(Internal Compiler Error) and fixed 15.9. Could you update VS 2017?

[2018-12-27 15:53] utilForever commented on #217
I built Jet framework in Surface Book 2 and found no problem.
(16GB RAM and Visual Studio 2017 15.9)

[2018-12-27 17:34] PavelBlend commented on #217
Updated VS and it turned out to compile in Release mode.

[2018-12-27 17:34] #217 closed

[2018-12-28 17:25] PavelBlend opened #219 "Resume Baking"
At the moment there is an opportunity to resume baking?
I tried to add particles from the cache using particleSystemData.addParticles, but for some reason the particles are not where they are needed.

[2018-12-28 17:35] doyubkim commented on #219
You can serialize data with particleSystemData.serializeToFile and reload it again with deserializeFromFile.

[2018-12-28 17:47] doyubkim commented on #191
Can you provide the mesh and the resolution setting you are using? Seems like the SDF of the collider is messed up.

[2018-12-28 18:15] PavelBlend commented on #191
[test_emiiter_particles.zip](https://github.com/doyubkim/fluid-engine-dev/files/2715423/test_emiiter_particles.zip)
This effect appears at any resolution.

[2018-12-28 19:36] PavelBlend opened #220 "Animating parameters"
Is it possible to animate during the simulation?
For example, enable the oneShot parameter at the emitter, and then after 10 frames turn it off.
Or change the position of the collider.
Or change the initial velocity at the emitter.

[2018-12-28 21:10] doyubkim commented on #219
How many particles are there in your scene? The cache file contains binary version of positions and velocities arrays in 64-bit float type.

[2018-12-29 08:35] PavelBlend commented on #219
1551. File cache weighs 4.2 MB
My file cache weighs 110 KB in one frame and 935 KB in 30 frames.

Does the serializeToFile function save particles from the active frame or save particles from all frames?

[2018-12-29 10:13] doyubkim commented on #219
Just checked with small number of particles and there seems to be a bug somewhere around FlatBuffer-based serialization. (It adds 4MB by default.) This weird chunk of bytes doesn't seem to grow as # of particles increase, but is definitely a bug and will look into.

In the meantime, can you try the following method to save and restore particles? The example below copies the current particle state,

[2018-12-29 10:21] doyubkim commented on #220
Hi Pavel!

1. isOneShot is not exposed to the Python API yet.
2. Changing the position and orientation of the collider can be done by setting `Transform3` to the source surface mesh (`.transform` property). You also need to provide `collider.linearVelocity` (and `collider.angularVelocity` if rotating) as well.
3. Initial velocity of the emitter is also not exposed to the Python API yet.

Let me co

[2018-12-29 11:07] doyubkim commented on #220
@PavelBlend: PR is out. Check out the new example script. You might need the other PR (#218) merged to run your code. @utilForever, I will merge #218 soon if you don't have any major concern.

[2018-12-29 21:37] doyubkim commented on #220
PR with new APIs and an example code is now merged

[2018-12-29 21:37] #220 closed

[2018-12-30 06:41] doyubkim commented on #191
Just checked out the meshes, but `collider.obj` and `emitter.obj` are identical.

[2018-12-30 07:54] doyubkim commented on #219
I just remembered that particle system data also serializes its neighbor searcher (hash grid). So if you want to bake the particles only, use the method I provided above.

[2018-12-30 07:54] #219 closed

[2018-12-30 10:45] PavelBlend commented on #191
[meshes_test.zip](https://github.com/doyubkim/fluid-engine-dev/files/2717069/meshes_test.zip)

[2018-12-30 18:17] PavelBlend commented on #101
Question:
Is it possible to add the following effect in the future?:
https://youtu.be/5h6UAjB4Xjo

Air incompressibility. To air was the second phase.
There is a code, for example:
https://github.com/ryichando/shiokaze

[2018-12-30 18:27] PavelBlend opened #222 "Variable Viscosity"
References:
https://youtu.be/OEfpkvxx5kg
https://vimeo.com/44446399
https://vimeo.com/102554547
https://vimeo.com/124184280

[2018-12-30 23:02] doyubkim commented on #101
Two-phase fluid is planned but didn't have enough bandwidth to implement it. I do have my old personal code that implements a couple of papers mentioned above -- one of the papers is mine anyway -- but I need time to port it over. @PavelBlend if you want this feature, I can bump up the priority.

[2018-12-30 23:04] doyubkim commented on #222
Nice. What would be the best way to apply variable viscosity? Different viscosity per emitter? Or via interaction with colliders?

[2018-12-31 06:15] PavelBlend commented on #222
I think it is better to implement two options.

The first is the Viscosity parameter of the emitter, which will have access through the python API. So that it can be changed over time.

The second is to realize the temperature of the fluid particles and colliders. And the parameter cooling rate / heating.

If the collider is hotter than the liquid particles, then the particles reduce their viscosi

[2018-12-31 06:19] PavelBlend commented on #101
Yes, I would like to see this feature.
Since I use jet fluids for a blender. And for the blender there is not a single multi-phase simulator.

[2018-12-31 09:31] doyubkim commented on #101
Sounds fair. The first iteration will be similar to http://research.nii.ac.jp/~rand/shiokaze-en/index.html. No particles, but with level-set only. Two-phase PIC/FLIP/APIC would come next. Not sure I want to implement multiphase SPH, but it will be the last if I do.

[2018-12-31 09:33] doyubkim commented on #222
Setting different viscosity per particle/emitter sounds feasible. Introducing thermodynamics might take some time and can't promise.

[2018-12-31 09:49] doyubkim commented on #222
Actually, the introducing temperature and having it affect viscosity might not be that complicated. A simple exponential model might work just fine.

[2019-01-01 11:44] PavelBlend commented on #220
How to make the emitter move? VolumeParticleEmitter3 does not have a linearVelocity property.

[2019-01-02 05:36] doyubkim commented on #222
I will take your suggestions in account. In summary, there will be:

* Per-particle/emitter viscosity
* Varying viscosity by temperature
* Heat source/sink

These features won't come very soon, so please wait for any updates. I'm still planning out whether this should be part of current v1 or next v2.

[2019-01-02 06:42] doyubkim commented on #220
@PavelBlend: It is possible to do so, but not quite efficient. Let me open another issue for that.

[2019-01-02 06:46] doyubkim opened #224 "Better API for animating emitter parameters"
Current emitter API is not perfect for animating emitters' parameters. The new API should have similar capability to what we have with colliders such as:

[code]

This is an extended issue of #220

[2019-01-02 16:27] PavelBlend opened #225 "Buckling and Coiling Effects"
Coiling example:
https://youtu.be/D_nEhix1G-w?t=33

Buckling example:
https://youtu.be/D_nEhix1G-w?t=55

Reference:
https://github.com/InteractiveComputerGraphics/SPlisHSPlasH

[2019-01-02 16:56] PavelBlend opened #226 "Very High Viscosity"
Implement very viscous liquids.
Viscous to such an extent that the fluid particles will be fixed:
https://youtu.be/ACyVU_gVJpc
https://vimeo.com/142603840
https://vimeo.com/127259114
https://vimeo.com/97299412

[2019-01-03 14:04] PavelBlend commented on #220
And how to make colliders move in different directions?
The linearVelocity parameter is common to all colliders.
I use a lot of colliders in the form of ImplicitTriangleMesh3, and then assign them to the solver using SurfaceSet3. I need to control each mesh of the collider separately.

[2019-01-04 08:49] doyubkim commented on #220
@PavelBlend it requires ColliderSet3 which is missing from Python API. Let me add it with some examples shortly.

[2019-01-04 08:49] doyubkim opened #227 "ColliderSet API and examples for Python"

[2019-01-04 10:33] doyubkim commented on #224
WIP under branch `issue_224`. Need to write tests and double check with manual tests results.

[2019-01-04 17:56] PavelBlend commented on #226
Reference (fast high viscosity):
https://github.com/rlguy/Blender-FLIP-Fluids

[2019-01-05 07:32] doyubkim opened #228 "Tree-based ImplicitTriangleMesh3"
Implement more efficient data structure for ImplicitTriangleMesh3. Octree is a good candidate. This will also require different approach for robust inside/outside testing. [This paper](https://igl.ethz.ch/projects/winding-number/robust-inside-outside-segmentation-using-generalized-winding-numbers-siggraph-2013-compressed-jacobson-et-al.pdf) seems to be a good candidate. While such a winding number

[2019-01-06 05:21] doyubkim opened #230 "Leaking SDF from ImplicitTriangleMesh3"
Reported in Issue #223. Even with proper parameters, SDF can be leaked from ImplicitTriangleMesh3.

[2019-01-06 09:09] doyubkim commented on #230
The root cause of the problem reported in #223 is due to the CustomImplicitSurface3 not returning optimal closest point during the collision handling especially when the query point is outside the bounding box of CustomImplicitSurface3. A workaround for ImplicitTriangleMesh3 (and address leaky particles in #223) is to use explicit mesh for non-SDF queries. This doesn't solve CustomImplicitSurface3

[2019-01-06 14:59] PavelBlend opened #231 "[Questions] LevelSetLiquidSolver3"
In the PIC solver, particles act as a fluid. And what is the liquid in the solver LevelSetLiquidSolver3?
How can I save fluid data (positions, velocities, forces) in a LevelSet solver?
And how can you create a mesh, based on the LevelSet solver?

[2019-01-07 04:41] doyubkim commented on #231
LevelSetLiquidSolver3 uses voxel grids to track fluid surface. More specifically, it uses SDF (or level set field) that is stored in a grid and moves it around via fluid velocity field which is also defined on grids.

In order to get the mesh, you need to call `marchingCubes` to `solver.signedDistanceField`.

[2019-01-07 05:08] doyubkim commented on #230
Leaving some lengthy note for future reference.

PR for the fix is posted. After more investigating, the root cause for this problem is due to the inaccurate SDF when it's far from the surface. The original code is using closest point and normal to determine whether a query point is inside or outside the surface from colliders, but such an approximated SDF was returning wrong query results, making

[2019-01-07 05:09] doyubkim commented on #230
@PavelBlend, let me know if it solves your problem. At least from my tests, the issue is gone.

[2019-01-07 08:58] PavelBlend commented on #231
I have all obj files have a size of 0 bytes. What am I doing wrong?
[level_set_test.zip](https://github.com/doyubkim/fluid-engine-dev/files/2732044/level_set_test.zip)

[2019-01-07 09:19] PavelBlend commented on #230
Checked.
There is no leakage.
Thank!

[2019-01-08 04:54] doyubkim commented on #231
You also need to add `emitter.addSignedDistanceTarget(solver.signedDistanceField)` after `solver.emitter = emitter`. This let emitter to know which grid (among many grids in the solver) to emit volume in which form (SDF in this case). You also want to set `margin` greater than 0.2. Below is part of the code I fixed:

[code]

[2019-01-12 06:32] #230 closed

[2019-01-12 06:32] #227 closed

[2019-01-12 06:32] #224 closed

[2019-01-21 08:32] doyubkim opened #234 "Particle-surface collision test generally broken"
Recent API addition to the collider/surface codes caused regression bugs especially when using surface sets or adapters. Working on the fix.

[2019-01-21 17:42] utilForever commented on #153
@doyubkim Update: My work is almost finished. Can I do a pull request to ```dev-v2-gpu``` branch?

[2019-01-21 18:35] doyubkim commented on #153
Thanks for the update! Yes, that should be the target branch.

[2019-01-23 17:30] #234 closed

[2019-03-17 06:49] utilForever opened #236 "Polymorphic-Particle-in-Cell Method"
I'll implement PolyPIC with undergraduate students at Kyungpook National University.
References: https://arxiv.org/pdf/1807.05183.pdf

[2019-03-17 21:04] doyubkim commented on #236
Sounds great!

[2019-03-17 22:26] PavelBlend commented on #220
For some reason, I can't get the emitter to move.
I specify linearVelocity, and this parameter behaves like initialVelocity.

[2019-03-17 22:43] PavelBlend opened #237 "More strict to errors (pyjet)"
I noticed that if I write the wrong key name, it will not cause an error.
For example:

emitter = pyjet.VolumeParticleEmitter3(implicitSurface_123=surface)

It is necessary that such a code causes the error "Invalid keyword argument".
Since it will be difficult to look for such errors.
I do not remember exactly, but somewhere else there are similar problems.

The simulator allows to make miscalcul

[2019-03-18 05:46] doyubkim commented on #220
Hi @PavelBlend, can you try the example (`src/examples/python_examples/collider_emitter_anim_example.py`) and see if it moves? Are you setting `surface.transform` as well?

[2019-03-18 05:48] doyubkim commented on #237
That's a really good comment. Yes, currently Python binding is quite loose in terms of input checking which we definitely need to make it better.

[2019-03-18 07:52] PavelBlend commented on #220
Checked The example works correctly. But I can't do this in blender. I use surface.transform.

[2019-03-18 14:43] PavelBlend commented on #220
Understood with translation. Everything works correctly.

[2019-03-18 15:32] PavelBlend commented on #191
Question:
Is it possible to compile pyjet for python 3.5 without changing the source code?
I need pyjet.pyd for python 3.5 since blender 2.79 uses exactly this version of python.
But I also need pyjet for python 3.7.
Since this version of python is used in daily builds and in version 2.80.
And can you compile and release pyjet for Linux and MacOS (python 3.5 and python 3.7)?

[2019-03-18 16:15] PavelBlend opened #238 "Colored mesh"
Hello.

I have particles that have color:
![01](https://user-images.githubusercontent.com/7983249/54545081-fd58b900-49b1-11e9-8e18-3a09ccf19feb.jpg)
Is it possible to transfer these colors to the mesh of a liquid?

[2019-03-19 06:20] doyubkim commented on #238
This feature is not available at the moment but sounds like a good addition. Will add to the feature list!

[2019-03-19 06:25] doyubkim commented on #191
Hi @PavelBlend !
I often use Miniconda Python distribution to build and test different versions of Python. If you need pyjet targeting Python 3.5, you can try creating a conda environment with Python 3.5 (something like `conda create -n py35 python=3.5`), activate that environment (`source activate py34`) and build pyjet (`pip install -U .` from the repository's root directory).
I am thinking of d

[2019-03-19 06:28] doyubkim commented on #220
@PavelBlend, it should be possible with `ColliderSet3` (add multiple colliders using `ColliderSet3.addCollider` and control individual sub-colliders). Let me know if that doesn't work.

[2019-03-21 15:00] PavelBlend commented on #191
Question:
Why is the pyjet.ImplicitTriangleMesh3 class being created for a long time?
Maybe I do not correctly specify the parameters?
I create a solver:
`solver = pyjet.PicSolver3(resolution=(100, 100, 100), gridOrigin=(0, 0, 0), domainSizeX=1)`

How do I create pyjet.ImplicitTriangleMesh3? What should be resolutionX? 100?:
`imp_triangle_mesh = pyjet.ImplicitTriangleMesh3(mesh=triangle_mesh, reso

[2019-03-22 06:08] doyubkim commented on #191
ImplicitTriangleMesh3.resolutionX should be high enough to capture geometric details of the mesh. For your example, I would use 100 * mesh_size / solver_size.

And to be honest, ImplicitTriangleMesh3 has been bugging me a lot, too (API is weird, perf is slow, etc). I am actually implementing an alternative approach which is still under tests. Let me try to create a shared branch so we can further

[2019-03-22 13:58] doyubkim commented on #228
Early tests using the winding number algorithm shows promising results. Ultimately, this would allow us to drop `ImplicitTriangleMesh3` and use `TriangleMesh3` only. That will make API much cleaner and less confusing. I also expect performance speed up for `triangleMeshToSdf`, but not confirmed. Merging this work might require merging other developments from the dev branch (unification of 2D and 3

[2019-03-22 13:59] doyubkim commented on #228
This work is also related to https://github.com/doyubkim/fluid-engine-dev/issues/191#issuecomment-475505303 .

[2019-03-27 17:31] PavelBlend commented on #238
It turned out to blender means to implement the painting of the mesh:
![rend_colored_mesh](https://user-images.githubusercontent.com/7983249/55098636-2f170180-50cf-11e9-892f-1d99040abf45.jpg)

[2019-04-03 00:05] doyubkim opened #240 "VS 2019"
Test with VS 2019 and make sure it builds without issues. Also when available, add VS 2019 to the CI config.

[2019-04-03 00:33] utilForever commented on #240
I already use it! Welcome to VS 2019. :tada:
p.s. Azure Pipelines supports VS 2019.

[2019-04-03 01:22] doyubkim commented on #240
Awesome, so have you tested Jet Framework on VS 2019? Also, would it make more sense to migrate to Azure Pipelines for Windows build test? (From 2015 to 2019)

[2019-04-03 06:53] doyubkim commented on #238
Thanks for the experiment! Yes, I think that’s a good idea. Let me try letting particles to sample texture coordinates from an input mesh and carry the values throughout simulations.

[2019-04-06 17:04] PavelBlend opened #241 "generate a manifold mesh"
Now the fluid mesh is created with unlinked double vertices.
The problem is that in blender some modifiers (for example Smooth) require Manifold meshes.
Here is the current result:
![01](https://user-images.githubusercontent.com/7983249/55672713-dc93cd00-58a6-11e9-88a6-49df60e4d79a.jpg)
And you need this result:
![02](https://user-images.githubusercontent.com/7983249/55672716-e87f8f00-58a6-11e9-82

[2019-04-06 17:42] PavelBlend opened #242 "Active option instead of One Shot"
Now the emitters have the option One Shot.
But it is not very convenient to use.
You need to make the option Active / Enable instead of One Shot:
![01](https://user-images.githubusercontent.com/7983249/55672969-4a8dc380-58aa-11e9-9c75-a216c56863c5.gif)
The One Shot option needs to be removed.
But you need to create a new type of emitter, which will be called FluidFromObject or something else simil

[2019-04-06 17:50] PavelBlend opened #243 "Outflow object"
You need to create a new type of object that removes particles of fluid.
Something like a sink in the bathroom.
That is, those particles that fall into the volume of an Outflow object should be removed.
And the Outflow object should be created from a polygonal 3D model.

[2019-04-06 18:07] PavelBlend opened #244 "Domain Real Size option"
You need to add the Domain Size option for the domain.
For example
`solver = pyjet.ApicSolver3(resolution=(10, 10, 10), gridOrigin=(0, 0, 0), domainSizeX=10, realDomainSizeX=1)`
This parameter will give the opportunity to use different scales for 3D models of collisions and emitters and the scales of these objects in the simulation.
For example, I have a 3d model for a collision, 1 meter in size.

[2019-04-07 16:49] utilForever commented on #240
Sorry for delay. There was too much busy last week. I'll test it today. Note that Azure Pipeline's configuration is a bit complicated. Fortunately, I have already experienced it, so let me summarize how to configure it.

[2019-04-09 06:12] doyubkim commented on #241
Thanks for reporting this! Yeah, at least the connectivity should’ve been consistent. Will add an option for that.

[2019-04-09 06:31] doyubkim commented on #242
Thank you for the suggestion. Any API removal would happen for major version update, but we can still introduce the new method (ie on/off switch) and put future-deprecation warning for the old one (is_one_shot).

[2019-04-09 06:36] doyubkim commented on #243
Simply erasing particles should be straight forward. For grid-based simulations may require sink velocity. I think we can put the particle remover first, and then add grid-specific out-flow later.

[2019-04-09 06:45] doyubkim commented on #244
Wouldn’t it be better to have scale parameter for surfaces, then? Right now Transform only accepts rigid motion (ie translation and rotation) but maybe we can also accept scale too.

[2019-04-09 08:56] PavelBlend commented on #244
I need the position of the particles to be with the scale applied.
That is, if I scale the colliders and emitters meshes, then the positions will still not be suitable.
Since domainRealSizeX should affect gravity, particle acceleration and so on.
For example, I have a domain size of 1 meter. I point him the domainRealWorldSize on 10 meters.
And it turns out that gravity will be 0.98 instead of 9.8

[2019-04-10 07:41] doyubkim commented on #244
I see, so I think what you need is an ability to change the unit of the system. Yes, I do see the benefit of the feature.

[2019-04-10 07:43] doyubkim commented on #240
@utilForever no worries. We can also wait until Appveyor supports it (https://github.com/appveyor/ci/milestone/143)

[2019-04-10 08:16] utilForever commented on #240
I built Jet framework (x64-Debug and x64-Release) on VS 2019 and seems no problem. :)

[2019-04-23 03:53] #241 closed

[2019-05-13 07:06] doyubkim commented on #242
@PavelBlend: I created a branch to add this feature (`fix-242`). All the emitters have `isEnabled` property to turn on and off an emitter. I need to add more unit tests, but feel free to test it out.

[2019-05-13 17:57] PavelBlend commented on #242
I checked. Everything works correctly if you disable the OneShot option. But I can’t get the effect shown in the second gif image. That is, you can not emit particles not from the zero frame (with OneShot enabled). And you cannot re-emit particles from the same object if the OneShot option is enabled. It seems to me that it would be possible to rename the OneShot option to SingleShot (or something

[2019-05-15 07:11] doyubkim commented on #242
To avoid breaking the API while we are still in v1.x, I've updated the branch with the following changes:

- `emitter.isEnabled`: A new flag toggles the emitter entirely. (Included in the first commit.)
- `emitter.isOneShot`: Having this flag `True` disables the emitter after single emission by setting `isEnabled` to `False`, which is the new behavior. By setting `isEnabled` to `True` again, the e

[2019-05-17 18:10] PavelBlend commented on #242
This is what I needed. Thank. Everything works correctly.

[2019-05-19 07:13] doyubkim commented on #242
Thanks @PavelBlend! I've posted a PR.

[2019-05-28 00:30] #242 closed

[2019-06-17 05:27] doyubkim opened #248 "Register to Python Package Index"
Some early test were already made to test.pypi.org. A couple of issues to be discussed before publishing it to the prod PyPI, though:

1. Name of the package
We've been using `pyjet` for the name of the package, but it is already taken. Other names such as `jet` or `jet-python` are also used by other packages as well. We want to collect more creative ideas for the naming.

2. Continuous Deployment

[2019-06-17 05:28] doyubkim commented on #248
Here's the early test I was making: https://test.pypi.org/project/pyjet/

[2019-06-30 14:42] MatthiasSchilder opened #249 "Cloning repo with submodules is not possible"
Hi,

since today, I'm experiencing problems cloning the repo (yesterday, it still worked on another machine). Seems to be an issue with the submodule "syoyo/tinyobj".

git clone  http://github.com/doyubkim/fluid-engine-dev.git  --recursive gives
[code]

It's the same with git submodule init + git submodule update.
Additionally, cloning the failing submodule repo manually with

git clone https://gi

[2019-06-30 14:49] MatthiasSchilder commented on #249
Argh, please nevermind. I misread and misinterpreted the output.

[2019-06-30 14:49] #249 closed

[2019-06-30 18:32] doyubkim commented on #249
Thanks! Please let me know if you encounter any further issues.

[2019-07-08 17:03] doyubkim opened #250 "MPM Implementations"
A good implementation reference: https://github.com/yuanming-hu/taichi_mpm

@utilForever I know you had interest in MPM while ago. Are you still looking into this?

[2019-07-10 18:24] utilForever commented on #250
Oh, Thanks. I'll check it next week. :)

[2019-07-10 18:25] utilForever commented on #240
Appveyor updated VS 2019 image. I'll push related PR next week. :)

[2019-07-10 18:40] doyubkim commented on #240
Awesome, thanks!

[2019-08-22 07:38] ZeusYang opened #251 "Is this a bug in the function intersectsLocal of Cylinder3 class"
[code]
It seems that here "||" should be "&&". Because intersection between the ray and the cylinder occurs when pointOnCylinder.y is in the interval [center.y - 0.5 * height, center.y + 0.5 * height].
Thanks.

[2019-08-22 13:00] xiaoxiaoyu1872 opened #252 "Water-drop"
I want to simulate the phenomenon of water splash.
But I found that to set the droplet velocity, the droplet and the pool velocity have to be set together.
How to solve this problem?  thank you.
example:
    auto box = Box3::builder()
                .withLowerCorner({0, 0, 0})
                .withUpperCorner({1, 0.5, 1})
                .makeShared();
    auto droplet = Sphere3::builder()

[2019-08-22 20:25] doyubkim commented on #251
Yup, that does sound like a bug! Thanks for finding this. It was also missing from any unit tests. Nice catch!

[2019-08-22 20:31] doyubkim commented on #252
Thanks for the great question!

If you use `ImplicitSurfaceSet3`, it means the entire surfaces you added to the set will be treated as a single surface. If you want to use different emitter properties, you need to
1. Create two surfaces.
2. Create two `VolumeParticleEmitter3` with one surface for each. Assign different velocities for each of the emitters.
3. Create `ParticleEmitterSet3` and add th

[2019-08-23 09:34] xiaoxiaoyu1872 commented on #252
i have solved this problem, thanks a lot

[2019-08-23 14:34] doyubkim commented on #252
Great! Closing this issue then.

[2019-08-23 14:34] #252 closed

[2019-08-25 06:05] doyubkim commented on #251
PR posted (#253), waiting for review (cc @utilForever).

[2019-08-27 10:39] ZeusYang opened #254 "The second derivative of poly6 kernel function."
Hello, douyubkim. I just discoverd the following problems.
It is about the second derivative of poly6 kernel function. In your code:
[code]
But I calculated it by hands for serveral times and wrote a different version:
[code]
It's just 3 should be replaced with 5 in that equation. I know it was missing from any test because we just use the second derivative of spiky kernel function instead of poly

[2019-08-27 16:43] utilForever commented on #251
I merged PR. Please confirm it. :)

[2019-08-28 02:44] yanwc commented on #254
@doyubkim, I'm so glad to help you.
For the first problem I mentioned above, I think you also need to publish an update in your error collection web page since the code is shown on Page 127.

I got another two typos of your book.
On Page 137, the formula (2.14), you forgot the square symbol of m. But the code in the page is right.
On Page 134, the formula (2.10), you also forgot the square symbol

[2019-08-28 07:08] yanwc commented on #254
Yeah, I also think it might be some sort of mixed up. And finally, I make a experiment about that coefficient.  I just wanted to compare the difference between them. And so I removed the divisor eosExpoent:
[code]
Then I used the PCISPH solver to simulate the dam breaking scene, and I got the following two results. I don't think there exists obvious difference.  It looks like the solver isn't sens

[2019-08-28 07:08] doyubkim opened #256 "Tait equation scale factor bug"
Please refer to the discussion from issue #254.

[2019-08-28 07:14] doyubkim opened #257 "Collection of typos/errors from the book"
I am periodically updating [the errata page](https://fluidenginedevelopment.org/errata/), and reports from the readers really help other readers to understand the contents better. I do get reports via emails, but I thought it would be great to have a GitHub issue for better visibility. This is motivated by issue #254.

If you know any errors from the book, please do not hesitate and feel free to r

[2019-08-28 07:22] yanwc commented on #254
@doyubkim  Do the gifs display normal?

[2019-08-29 01:33] yanwc commented on #254
Yes, it does. I can't agree more.  Adaptive time controlling plays a significant role.  It's my great honour to help this out. Fluid Simulation is  so funny and I am really grateful to you for your book and code.

[2019-08-29 16:09] #251 closed

[2019-08-29 16:12] doyubkim commented on #254
Thanks! Please feel free to report any other errata or bugs.

[2019-08-29 16:12] #254 closed

[2019-08-30 00:20] #256 closed

[2019-08-30 08:05] ZeusYang opened #259 "getBarycentric function in math_utils-inl.h file."
Hello, doyubkim. It's me again.
I got a bug in the getBarycentric function in math_utils-inl.h file.
In the following code:
[code]
At the end of the function, you let the **i** minus the **offset** which is no need for the last condition branch. In the last condition branch, **i** hasn't been modified which means **i** equal to **static_cast<ssize_t>(s)**, and **s** is not subtracted by offset.  I

[2019-08-30 16:57] doyubkim commented on #259
Thanks for looking into this, @ZeusYang ! In fact, this is more like a bad API design + lack of documentation.

Parameter `x` is a "relative distance" from `iLow`. Thus, you do need the offset compensation in the end. It is true, however, there's zero case where `iLow` is non-zero in the code other than the unit tests. So it might be possible to introduce additional function without `iLow` paramet

[2019-08-31 01:58] ZeusYang commented on #259
@doyubkim Parameter x is a "relative distance" from iLow. That sounds quite a bit weird. But anyway, it does make sense in this way. I did't mean to disturb you frequently. Thanks.

[2019-08-31 05:24] doyubkim commented on #259
No problem at all, @ZeusYang. I actually think this is an API "bug." I will keep this issue open and fix the API.

[2019-09-01 10:03] ZeusYang opened #260 "A problem in the closestIntersectionLocal function of CustomImplicitSurface3 class."
In the following code in custom_implicit_surface3.cpp file:
[code]
We just focus on the inner if-statement:
[code]
I think there is a little problem in the sentence ``const double frac = prevPhi / (prevPhi - newPhi);``. Take a look at the following figure. ``t`` is the current value while ``t'`` is the previous one, and ``tSub`` is our target to calculate.  In the code above, ``tSub`` is calculate

[2019-09-02 05:32] doyubkim commented on #260
Great find! In fact, the bug was introduced by using

[code]

rather than

[code]

Will post PR soon.

[2019-09-02 05:43] doyubkim commented on #260
PR is up

[2019-09-02 06:21] ZeusYang commented on #260
@doyubkim In fact, we can also fix the bug by replacing ``prevPhi / (prevPhi - newPhi)`` with ``newPhi/ (prevPhi - newPhi)``. But now that PR is up,  you don't need to change it.

[2019-09-03 07:26] ZeusYang commented on #257
Hello, @doyubkim .  I'm a little confused on page 202 of the book. The first paragraph is a discussion about the stability of diffusion solver.
[code]
Here, c equals:
![1](https://user-images.githubusercontent.com/32561301/64151729-95ae0180-ce5d-11e9-87c4-dd744912d45f.png)
And then, the book says:
[code]
Yeah, the variable c has its limit and its highest value is 0.5. But the figure 3.17c just sho

[2019-09-03 07:31] doyubkim commented on #257
Another good catch, @ZeusYang! Looks like a typo in the caption.

[2019-09-04 05:16] doyubkim commented on #257
@ZeusYang the errata page has been updated.

[2019-09-04 07:11] ZeusYang commented on #257
## Page 40
It's about the Gauss-Seidel method. The equation (1.34):
![3](https://user-images.githubusercontent.com/32561301/64233112-f1dc5880-cf25-11e9-97c0-0dbc821dd9bc.png)
**The formula (C.3) on page 276 has the same problem.**

## Page 41
It's about the definition of "conjugate" between two vectors. The equation (1.36):
![1](https://user-images.githubusercontent.com/32561301/64232820-48956280-

[2019-09-05 00:05] doyubkim commented on #257
You rock, @ZeusYang! The errata page has been updated.

[2019-09-05 00:07] doyubkim commented on #260
@ZeusYang thanks for the suggestion! Either way should be fine, but just wanted to be consistent with my memory :) Thanks!

[2019-09-06 00:44] #260 closed

[2019-09-12 02:44] ZeusYang commented on #257
## Page 204
From equation (3.36), you put an extra right bracket here.

![2](https://user-images.githubusercontent.com/32561301/64749802-83148600-d549-11e9-8447-74f41937e86b.png)

## Page 210
From equation (3.43):

![1](https://user-images.githubusercontent.com/32561301/64749855-af300700-d549-11e9-8645-a2181b8f3a55.png)

_**And I was wondering why we should do this for Dirichlet-type boundary cond

[2019-09-12 06:05] doyubkim commented on #257
Another great find! And yet another curse of LaTex editing :(

For the last question, it assumes that f_3 is fixed, thus f^{n+1}_3 == f^{n}_3.

[2019-09-12 06:10] doyubkim commented on #257
The errata page has been updated.

[2019-09-13 01:11] anderhl opened #262 "Vol and Tga options"
https://github.com/doyubkim/fluid-engine-dev/blob/f0159975a0bbe45687b47dac138ff1a515fa27bf/src/examples/smoke_sim/main.cpp#L437

[2019-09-15 12:12] ZeusYang opened #264 "The development of flame simulation solver?"
Hello, @doyubkim
Flame is a kind of pretty significant and attractive natural phenomenon. Essentially, it's also a sort of fluid. However,  it seems that combustion simulation is always ignored in fluid simulation. I was wondering whether you had been planning to develop fire simulatoion solver in the future?

[2019-09-16 00:13] doyubkim commented on #264
To simulate “flame” directly, I think the most classical approach is this:
http://physbam.stanford.edu/~fedkiw/papers/stanford2002-02.pdf

Adding more complex combustion models are also available from number of papers including:
http://physbam.stanford.edu/~fedkiw/papers/stanford2007-02.pdf

A bit of cheating can be done by rendering temperature field from regular smoke sim with color map as shown

[2019-09-16 00:37] utilForever commented on #262
It is fixed. Thanks for your report. :)

[2019-09-16 00:37] #262 closed

[2019-09-16 04:34] ZeusYang commented on #264
@doyubkim
Thank you very much for your recommendations of related sim papers. Yeah, Standford university did a great job on flame simulation. Over the years, it seems that there are fewer papers on fire simulation than on smoke simulation and liquid simulation.  Maybe the development of flame sim in computer graphics is quite mature and the simulation is so realistic that it's hard to surpass it?

[2019-11-06 00:28] kentbarber opened #265 "LevelSetLiquidSolver3 reset air velocity in grid"
Hi Doyub,

I have a LevelSetLiquidSolver3 where it has multiple emitters in a GridEmitterSet3. When the emitters are enabled midway during a simulation they are getting affected immediately by what I believe to be the air velocity of the cells. Is there any way you can think of to avoid this? Perhaps reset the velocity of newly emitted cells?

![levelsetissue](https://user-images.githubusercontent

[2019-11-06 00:33] #202 closed

[2019-11-06 00:40] Titaniumtown commented on #19
When I build this it fails. It says that I am missing files in the include/jet/ directory. Even when I copy the required files from the master branch it still fails

[2019-11-06 00:49] kentbarber commented on #265
Actually you can ignore this. I think I should be able to make them colliders first, then disable the colliders and emit. I will close this thread now.

[2019-11-06 05:14] kentbarber commented on #265
Reopening this again. It doesn’t look like I can disable a collider. Would this be possible to do?

[2019-11-06 18:56] doyubkim commented on #19
Thanks for checking it out @Titaniumtown! The branch is quiet outdated at the moment so there could be number of issues building it. I will update this issue once I get any meaningful progress. The development has been very slow due to my personal matters especially during 2019.

[2019-11-06 18:57] doyubkim commented on #265
Thank you for finding this bug, @kentbarber! I think there's a bug when the emitter injects the SDF where it doesn't update the velocity field properly. I will look into this.

[2019-11-06 20:05] Titaniumtown commented on #19
Ok then, Thanks!

[2019-11-08 18:12] doyubkim commented on #265
Hi @kentbarber,

So I think this is more like an API bug/issue where adding emitter for grid-based solvers is not consistent with particle-based solver. Before I explain further, you should try the following.

In your code, I guess you are adding an emitter like this:

[code]

The code above only adds an SDF geometry, but doesn't specify the velocity field (not even zero). So in your case where th

[2019-11-08 18:56] kentbarber commented on #265
Hi @doyubkim,

That worked perfectly. Thank you.

I was also wondering if it is possible to add new emitters to the emitterset during the simulation? Since these steps outlined here are all performed before the solver->update method is called. I will try this later this week and if I see problems I will open a new issue.

Cheers,
Kent

[2019-11-08 19:00] kentbarber opened #266 "Feature Request: Enable / Disable Colliders"
I would like to be able to have a collider in my scene that I can then disable. Something like the setIsEnabled flag that emitters have would be great.

[2019-11-08 21:27] doyubkim commented on #266
Good suggestion, @kentbarber! Will take a look.

[2019-11-08 21:34] doyubkim commented on #265
Emitters and colliders should be updated every frame before it actually advances a fluid-sim time-step. (More specifically, when `beginAdvanceTimeStep` is called internally.) So setting a new emitter at random frame should work:

[code]

If not, please open a new issue! :)

[2019-11-08 22:04] kentbarber commented on #265
Great. I will give it a try. I am going to see if I can get it working with the MoGraph system in C4D to dynamically add fluid to a sim.

[2019-11-08 22:10] kentbarber opened #267 "How to move colliders"
I can't seem to get colliders moving and interacting with the fluid how I expect it to.

I have a LevelSetLiquid that is half full with fluid. I then move a sphere in from outside of the domain that slowly moves through it.

I am moving it by setting the transform of the colliders Surface3.

[code]
But I think I may need to add velocity to the RigidBody as well, but I tried adding linearvelocity t

[2019-11-08 22:23] kentbarber commented on #267
Here is a gif illustrating the current issue I am having. Most likely a user error my part, but if you have any ideas of how to allow for this type of moving collider that would be great.
![collisionproblem](https://user-images.githubusercontent.com/12145275/68514677-42d04a80-02e3-11ea-8ee4-f42fb712c667.gif)

[2019-11-10 00:30] kentbarber opened #268 "Moving particle emitter problems"
I have found that if I move the Surface3 for a particle emitter (used in FLIP or PIC) then the particles don't get emitted.

I have tracked this down to the region BoundingBox calculated in VolumeParticleEmitter3::emit(...)

Specifically this code here

`
   BoundingBox3D region = _bounds;
    if (_implicitSurface->isBounded()) {
        BoundingBox3D surfaceBBox = _implicitSurface->boundingBox();

[2019-11-10 05:19] doyubkim commented on #267
Thanks for reporting this! I think what you did is correct -- set the transform of surface and velocity of the rigid body. (And now that I think of it, the API itself might be confusing. Rigid body collider should have the capability to move around the collider.)

The artifact you are seeing *might* be the result of the lack of voxels between the sphere and the walls. Looking at the mesh, it seems

[2019-11-10 05:28] doyubkim commented on #268
It is possible if you provided tight `maxRegion` to the `VolumeParticleEmitter3` instance.

One option is to provide bigger `maxRegion` such as the whole bounding box of the solver to the emitter. Here's a code snippet from one of the Python examples:

[code]

Note that the code above only works when the `implicitSurface` is *bounded*, meaning we know its bounding box analytically such as a sphere

[2019-11-10 05:34] kentbarber commented on #268
I am already passing in the  bounding box of the solver to the emitter. The issue seems to be when the bounding box and sphere are positioned negatively. Is the box is (-100, -100, -100) and the sphere is passing through this region. The min/max logic then does not seem right.

[2019-11-10 05:42] doyubkim commented on #268
Huh, it does sound like a bug for sure! Let me take a look more into it. Thanks for providing a test case! :D

[2019-11-10 05:43] kentbarber commented on #268
My hunch is that the boundbox test for width, height, depth etc... doesn't take into account if the numbers are negative. But I don't want to change these since it will impact everything else. Maybe just need to change the forEachPoint methods instead.

[2019-11-10 06:08] kentbarber commented on #268
I am seeing a similar issue for SPH where particles are only emitted if the solver and sphere in positive space. Anywhere in negative space no particles are emitted.

[2019-11-10 06:50] kentbarber commented on #268
Forgot to mention that the SPH issue happens even when the emitter is not moving.

But with the FLIP solver when the emitter is not moving (ie Surface3 is not being translated) then it emits fine. But when it is moving, when I translate the Surface3 before the solver update, then it doesn't emit.

Sorry I may be mixing up multiple issues here. But my main issue right now is the moving emitters. Ho

[2019-11-10 07:37] doyubkim commented on #268
No problem at all! Thanks for reporting the issues you are having. It will make the engine more robust.

Quick question: what were the emitter spacing parameter for both FLIP and SPH simulations? Trying to replicate the bug in more compact unit test-like code.

[2019-11-10 08:12] kentbarber commented on #268
**FLIP**
- Solver size is 2x2x2
- Solver Resolution (50,50,50)
- Solver Grid Spacing (0.04)
- Solver offset (-1,-1,-1)
- VolumeParticleEmitter3 withMaxRegion = same as Solver size so should be (2,2,2).
- VolumeParticleEmitter3 withSpacing should be the following
`
auto grids = solver->gridSystemData();
double emitterSpacing = grids->gridSpacing().x * 0.5;
`
Will update this with a value soon... ju

[2019-11-10 09:41] doyubkim commented on #268
Thanks for the info @kentbarber!

I made a simple test based on your setup in an attempt to reproduce the bug:

[code]
 but it does generate enough particles even in the negative region. Can you spot anything different from your setup?

[2019-11-10 10:52] kentbarber commented on #268
AllowOverLapping is set to the default, so it will be false. And the other differences is that the sphere is being translated every update. This is the main difference, the sphere is moving. When its moving it doesn't emit particles. When it's static it does.

[2019-11-11 00:02] doyubkim commented on #268
Ah, that's right. Does it stop emitting particles immediately when the sphere starts moving, or only when it enters the negative region? Thanks for helping me out on the bug hunting!

[2019-11-11 00:27] doyubkim commented on #268
It would be also helpful to see how you are setting the `emitter.surface.transform`.

[2019-11-11 00:52] kentbarber commented on #268
In this gif you can see the sphere moving along the spline. The one where it emits particles is FLIP. The one where there are no particles emitted is PIC.

emitter is being changed by just keeping a pointer to the Surface3 and changing it directly before the solver->Update method is called.

surf->transform.setOrientation(jet::QuaternionD(quat.w, -quat.v.x, -quat.v.y, -quat.v.z));
surf->transform.

[2019-11-11 01:10] doyubkim commented on #268
Thanks for more information! I will continue looking at this as well. Something obvious seems wrong.

[2019-11-11 04:16] kentbarber commented on #268
I also have the following set for the emitters, which is the same as in your examples files.

emitter->setPointGenerator(std::make_shared<jet::GridPointGenerator3>());

[2019-11-12 01:36] kentbarber commented on #268
Last night I think I found the cause of my problem.

` if (_implicitSurface->isBounded()) {
        BoundingBox3D surfaceBBox = _implicitSurface->boundingBox();
        region.lowerCorner = max(region.lowerCorner, surfaceBBox.lowerCorner);
        region.upperCorner = min(region.upperCorner, surfaceBBox.upperCorner);
    }`

The call to boundingBox() is not a virtual function and not overridden. S

[2019-11-12 01:38] doyubkim commented on #268
Incredible find @kentbarber !! Let me work on the fix.

[2019-11-12 01:41] kentbarber commented on #268
Last night I found a way around the problems I am having. But I haven't yet tracked down the proper solution.

I have a surface, converted to a ImplicitSurface3, which is then added to ImplicitSurfaceSet3. This set is then used in the emitter.

If I transform the original Surfaces transform then nothing happens. But if I change the transform of the ImplicitSurfaceSet3 itself then it works as inten

[2019-11-12 01:57] kentbarber commented on #268
I changed my post. Please have another read. My initial reply was incorrect.

[2019-11-12 02:07] doyubkim commented on #268
Ok thanks for the update!

[2019-11-12 05:04] kentbarber commented on #268
Making ImpicitSurfaceSet3::invalidateBvh() public and calling it after changing any child surface seems to work for FLIP.  I will look into SPH another day and open a new issue if that has problems.

[2019-11-12 05:06] doyubkim commented on #268
@kentbarber I was also heading to the same route. I also have a compact repro case as well. Thanks for tracking this!

[2019-11-12 05:37] kentbarber opened #269 "Feature Request: Skip all calculations if nothing emitted in a domain"
If there has been no particles or volume data emitted into a volume then onAdvanceTimeStep could immediately return.

This should be optional, perhaps with a flag that can be set. Since in some cases you might want forces to be present and being simulated before you emit. But in my case I am looking at only starting calls to the solver->update() method when a volume has data, which I thought could

[2019-11-12 05:56] utilForever commented on #266
Can I implement this feature? I'll work at this week.

[2019-11-12 05:57] doyubkim commented on #266
@utilForever sounds good!

[2019-11-13 05:04] kentbarber commented on #238
I would also like to be able to set the color of particles and also grid cells. Have the colors of cells advected throughout the domain. I am happy to set the colours myself, I don't need any sampling from textures done by the framework itself. It would also be nice to set the color for the emitted particles as a parameter to the emitters, just set a Vector3D(red, green, blue) between 1-0.

[2019-11-13 05:33] utilForever commented on #238
I'll take a look this weekend.

[2019-11-13 05:34] utilForever commented on #238
Are you want to add feature for setting the color of particles and grid cells?

[2019-11-13 05:47] kentbarber commented on #238
Amazing! Thank you. Particles covers almost everything except LevelSet. So I thought it would be good to have a solution for that as well, which is why I mentioned being able to set a color for the grid cells as well. I could then extract out the color from the cell and use that to apply vertex colours to the generated mesh myself, as well as allowing me to possibly blend neighbouring cell colours

[2019-11-13 06:12] kentbarber opened #270 "Bug in Bvh3<T>::build()"
I have an emitter that just has a plane in it.
The plane is converted to an ImplicitSurface3  jet::SurfaceToImplicit3(plane)
The implicit surface is then added to an ImplicitSurfaceSet3.
Which is then added to a jet::VolumeParticleEmitter3.
This is used in an SPH solver.

Since the plane is not bounded then the call to isBounded will return false.
That means that the following code will not add an

[2019-11-13 20:02] doyubkim commented on #269
Thanks for the suggestion! Will think about it as an optimization.

[2019-11-13 20:03] doyubkim commented on #270
Awesome, thanks for finding this!

[2019-11-15 05:38] doyubkim commented on #268
I just created a branch with a potential fix! It would be great if you can test your code with this branch.

[2019-11-15 23:52] doyubkim commented on #270
Potential fix is pushed to the branch shown above (`fix-270`). The temporary PR #272 still needs unit tests which should be added after PR #271 gets merged.

[2019-11-21 11:23] #240 closed

[2019-11-21 22:46] #265 closed

[2019-11-24 07:36] ouroboros1221 opened #274 "array-accessor1.h not found"
this header file is no where to be found when I'm trying to compile the physics_animation_tests.cpp

[2019-11-24 07:39] #274 closed

[2019-11-26 05:39] ouroboros1221 opened #275 "How to properly read these codes?"
It would be so much easier if it's an QT project, I could open the .pro project file and see how everything's linked at a glance. Now when I try to dive into individual .cpp or .h header files to study the code, I found one header file is sourcing in another headerfile, and another headerfile is sourcing in again from another header file,  this is really frustrating from a code dissection point of

[2019-11-26 07:47] #275 closed

[2019-11-26 18:10] dokipen3d commented on #275
You can add a project to qtcreator without a .pro file and still be able to jump around with f2/f4 etc. You just add existing project add point it to the folder you want to read.

[2019-11-27 12:05] doyubkim commented on #270
@kentbarber can you confirm the fix? Thanks!

[2019-11-27 12:06] doyubkim commented on #268
@kentbarber please let me know if the master branch works for you. Should be fixed now.

[2019-11-27 19:11] kentbarber commented on #270
Yes I can confirm that the changes made fixed the issue regarding having a plane in the scene as an emitter. This works fine now, thanks.

[2019-11-27 19:11] #270 closed

[2019-11-27 19:13] kentbarber commented on #268
Yes the master branch works for me now with this fix for implicit surfaces. But I am still unable to move Triangle3 surfaces.

[2019-11-27 19:14] #268 closed

[2019-11-28 02:35] doyubkim commented on #268
Thanks for confirming @kentbarber. Yes, please feel free to open the issue. I will start looking for a solution as well. The dirty flag approach you suggested in the PR seems the best option so far.

[2019-12-03 05:35] doyubkim opened #276 "Moving particle emitter problem with TriangleMesh3"
Updating the transform of TriangleMesh3 is not reflected to the bounding box. See the discussion from Issue #268 and pull request #271 for details.

CC @kentbarber

[2019-12-06 21:40] kentbarber commented on #238
Hi @utilForever, just wondering if you have added a color support for particles yet? If not then I may start on it myself. I won't be worry about LevelSetSolver for now and will just add support throughout for setting a color for particle emitters and having that data stored for each individual particle in the ParticleSystemData.

[2019-12-06 22:01] kentbarber commented on #238
@utilForever I decided to start with this. Looks simple enough to add. So if your not working on this yet then do let me know, otherwise I could submit my own changes for a pull request.

[2019-12-06 22:08] kentbarber commented on #238
Actually I think what I am doing is not actually part of this particular Issue. Since what I am doing is adding colors directly to the Jet Framework and this issue is about using particle colors to set the vertex colors of a mesh, these are two different topics although they are related. I am going to open a new issue for this.

[2019-12-06 22:09] kentbarber opened #277 "Add Particle Colors"
I would like to add color information to the particles. This would also involved adding an initial color to the emitters.

@doyubkim Are you in favour of this, or should I look for an alternative way of implementing this that is external to the Jet Framework? I don't want to break away from the main branch so any changes I make to the Jet Framework I would like to be integrated if approved, otherw

[2019-12-06 22:47] doyubkim commented on #238
@kentbarber @utilForever Here's what I was envisioning for this feature:

For the particle-based solvers, add additional channel (color channel) to `ParticleSystemData3`. After performing mesh generation using marching cubes, enumerate over the mesh vertices, "interpolate" colors around the vertices using SPH-style interapolation and/or nearest neighbor approach (maybe have an option to pick one).

[2019-12-06 23:04] doyubkim commented on #277
Original thinking behind the particle system data class is to have arbitrary channels like colors, vorticities, texture coordinates, etc, so that the particle system can be as compact as possible if all these channels are not needed (i.e. have positions and velocities only). However, I can see the value of color channel being there by default (or at least toggle-able).

Let's first add color chann

[2019-12-07 01:57] utilForever commented on #238
@kentbarber Oh, I'm sorry. I've been very busy with my company.
Are you started implementation? If you not working on this yet, I'd like to start next week.

[2019-12-07 02:09] kentbarber commented on #238
@utilForever Yes I have started adding support for particles, but it is still under discussion. I have opened a new issue for adding color information to particles: https://github.com/doyubkim/fluid-engine-dev/issues/277#issuecomment-562773481

I haven't touched GridSystemData3 yet, so if you would like to do that then feel free. I would consider it to be a separate task and perhaps could be its o

[2019-12-07 02:16] kentbarber commented on #277
Yes I also thought that having a system to attach arbitrary data to particles would be better. I am glad you brought this up. Since it felt wrong to add color as its own channel since it is not required data for the fluid simulation.

I have it almost implemented but have no objections removing it in favour of a generalised system, since I would also like to add additional information to particles

[2019-12-07 02:23] utilForever commented on #238
@kentbarber Hmm... If you haven't started implementing the code yet, I'd like to work on both.
I think that since color data is not essential, it would be good to provide additional data as an extension such as `std::optional` or new design.

[2019-12-07 02:27] kentbarber commented on #238
@utilForever That is ok with me. I will hold off on any further work in the Jet Framework itself and will instead get my code ready to create and use the color data once it is in place. I would prefer the ability to add arbitrary data to the system, with color being one of them, so a more general case system that is usable throughout Jet would be a better solution. Thanks.

[2019-12-07 02:32] utilForever commented on #238
@kentbarber Thank you for your consideration.
I'll discuss this design on #277.

[2019-12-07 02:34] utilForever commented on #277
@doyubkim I consider `std::optional` or rework code to support additional data such as color, vorticities and temperature. Do you have any preference?

[2019-12-07 02:55] doyubkim commented on #277
ParticleSystemData class already has full ability to add arbitrary/optional channel (see addScalarData/addVectorData). I would rather  focus more how to make it interact with other modules such as the emitters and mesher

For example, a particle emitter will generate pairs of position and velocity and append it to a particle system. If that particle system has other channels, new particles will ha

[2019-12-07 03:07] utilForever commented on #277
@doyubkim Are you consider this way?
[code]

[2019-12-08 05:26] doyubkim commented on #277
@utilForever Yes, something like that. We can also make the color channel optional by taking a boolean parameter from the ctor. While having a dedicate color channel is useful for many cases, it also impacts memory cost if it's turned on by default.
I won't recommend using std::optional, though. I still would like to stick with C++11 for v1.x.

[2019-12-19 17:35] PavelBlend commented on #191
I have released a new version of the jet-fluids addon for blender 2.81:
https://github.com/PavelBlend/blender_jet_fluids_addon/releases
There is no documentation for the addon yet.

[2019-12-20 01:54] doyubkim commented on #191
Amazing work, @PavelBlend !!

[2019-12-21 07:30] PavelBlend opened #278 "Make more detailed Python API documentation"
Hello.

I often use python api documentation.
And I noticed that the descriptions of the accepted parameters of the classes were gone.
You have to look for these parameters in the source code in the `src\python\folder`.
It is advisable to make sure that there is no need to look for information in the source code.
For all Python API information to be available here:
https://fluidenginedevelopment.o

[2019-12-21 17:32] PavelBlend commented on #231
I'm having trouble again with level set solver.
I create a mesh this way:
[code]
But I get the wrong mesh size:
![01](https://user-images.githubusercontent.com/7983249/71311561-dfccea00-2430-11ea-8135-8a113138b85d.jpg)

How to fix it?

[2019-12-21 17:56] doyubkim commented on #231
Is Fluid mesh the result of marching cubes? Looks like the overall scale got doubled after the marching cubes. Can you share other parts of the code (like emitter creation) so ghat I can try reproducing it?

[2019-12-21 18:07] PavelBlend commented on #231
yes

[code]

[2019-12-21 19:02] PavelBlend commented on #231
I tried to create a simple example but could not reproduce the error.
This error only occurs in the blender.
And I noticed that the mesh size depends on the resolution of the simulation.
Here is an example with different resolutions:
![01](https://user-images.githubusercontent.com/7983249/71312571-828b6580-243d-11ea-8411-2670945d7631.jpg)
How to fix this behavior?

[2019-12-21 20:45] doyubkim commented on #231
Looks like grid size is not changing when the resolution is changing. Seems like it's fixed. Can you double check?

[2019-12-21 20:55] PavelBlend commented on #231
Where should the grid size be indicated? Like this?:
[code]

[2019-12-21 22:23] doyubkim commented on #231
Yes, exactly. Let me know if that doesn't work.

[2019-12-22 06:35] PavelBlend commented on #231
The grid size I set.

I check the grid size in this way:

[code]
And the correct value is always displayed in the console. But the mesh size is not correct.

I added the code to the github:
https://github.com/PavelBlend/blender_jet_fluids_addon/tree/level-set-solver

Maybe you find a mistake.

The level set simulation starts here:
https://github.com/PavelBlend/blender_jet_fluids_addon/blob/level-s

[2019-12-23 02:42] doyubkim commented on #231
Thanks for the info! Let me take a look. Might take some time though.

[2019-12-23 02:51] SeekPossibility opened #279 "FdmCompressedBlas3 bug in time_perfs_tests"
in buidSystem func:
` const size_t cIdx = acc.index(i, j, k);
           const size_t lIdx = acc.index(i - 1, j, k);
            const size_t rIdx = acc.index(i + 1, j, k);
            const size_t dIdx = acc.index(i, j - 1, k);
            const size_t uIdx = acc.index(i, j + 1, k);
            const size_t bIdx = acc.index(i, j, k - 1);
            const size_t fIdx = acc.index(i, j, k + 1)`
siz

[2019-12-23 16:07] PavelBlend commented on #231
I found my mistake.
I multiply the coordinate of the mesh vertex by a factor:
https://github.com/PavelBlend/blender_jet_fluids_addon/blob/level-set-solver/jet_fluids/bake_mesh.py#L71

Since simulation resolution and mesh resolution may vary.
But I forgot about it.
I apologize. The error was on my part.

[2019-12-23 17:33] PavelBlend commented on #231
I have one more problem.

I am trying to change the Level Set Solver this way:
[code]
And I get an error:
[code]

Am I doing everything right? And why does this error occur?

[2019-12-23 19:16] doyubkim commented on #231
Glad you found the problem!

Missing constructor seems to be the binding problem. Let me create a separate issue to track it.

[2019-12-23 19:18] doyubkim opened #280 "Missing Python bindings for level-set methods"
See the discussion from Issue #231

[2019-12-25 02:28] yangfengzzz opened #281 "Jet.vis is missing"
I would like to know if there are jet.vis files. I can't compile opengl_tests and a lot of imgui related examples. it is a depreciated feature or it is not commited into the git? THX

[2019-12-25 02:30] doyubkim commented on #279
Let me double check the range. It is supposed to have a 1-width padding.

[2019-12-25 02:31] doyubkim commented on #281
That’s probably from one of the dev branch. It shouldn’t be in the master. The dev branches are super unstable since it’s mainly used for experimental projects :)

[2019-12-25 02:36] SeekPossibility commented on #281
Yes I'm on dev-v2-gpu branch. there are only jet.gfx but not jet.vis, especially there is no jet.viz/glfw_imgui_utils-ext.h . I don't know how to interact with ImGUI to display the log texts

[2019-12-25 02:37] doyubkim commented on #281
Yup, that branch is out of date. Please do not use that branch until the build issues are being fixed.

[2019-12-27 01:50] #281 closed

[2020-01-13 22:27] cesss commented on #16
Do you think Position Based Fluids are more desirable than other newer SPH developments? I'm asking this because [SPlisHSPlasH](https://github.com/InteractiveComputerGraphics/SPlisHSPlasH) mentions they find DFSPH to be the most efficient SPH solver. I don't know how DFSPH compares to PBF, but I believe SPlisHSPlasH does support PBF too, but however they choose DFSPH as the default solver...

[2020-01-13 22:35] cesss commented on #264
In the mean time, I think it would be pretty useful if you implement the "cheating" technique from your paper on top of the smoke simulator, because that video is pretty impressive, and would be realistic enough for many uses.

[2020-01-15 05:35] doyubkim commented on #16
I haven't looked into DFSPH, but that sounds pretty cool indeed. As one of the goals of Jet Framework is to have implementation of known algorithms and papers, including DFSPH also might be considered. I actually would love to see contributions for adding such new solvers to the framework, too.

[2020-01-15 05:40] doyubkim commented on #264
That's actually possible already since the smoke solver exposes temperature array (which then can be mapped with a color ramp/map). However, the current cubic solver is not "turbulent" enough to look like a flame.

[2020-01-17 13:13] utilForever opened #282 "Support HPX multiple tasking system"
I'll add HPX multiple tasking system such as Intel TBB and OpenMP. HPX is the C++ Standard Library for Parallelism and Concurrency(https://github.com/STEllAR-GROUP/hpx).

[2020-01-17 18:43] doyubkim commented on #282
What would be the advantage of using HPX over TBB or OpenMP?

[2020-01-18 00:31] utilForever commented on #282
Refer to utilForever/CubbyFlow-v1#281.

[2020-01-18 01:26] doyubkim commented on #282
I’m getting 500 error. Maybe I don’t have a permission?

[2020-01-18 01:41] utilForever commented on #282
I think it is Github error. I’m getting 500 error, too. 😭

[2020-01-18 03:06] utilForever commented on #282
@doyubkim A link is fixed. 😄

[2020-01-19 01:20] doyubkim commented on #282
Hmm still no access. Do you mind just summarizing the gist of the PR? Was it a perf reason or an API design issue?

[2020-01-19 01:22] utilForever commented on #282
[code]

[2020-01-19 01:23] utilForever commented on #282
I'll implement these 4 functions first and rest after it is merged.

[2020-01-19 02:51] doyubkim commented on #282
We already have TBB as an optional backend. Not sure why another backend is necessary? Did you test HPX backend with TBB backend? Also, I’d rather avoid breaking changes in public API.

[2020-01-19 03:18] utilForever commented on #282
I proposed for library diversity, but your opinion makes sense.
I agree with you and will try to close this issue.

[2020-01-19 03:18] #282 closed

[2020-01-23 11:10] cesss opened #283 "Why no Lamb vector in your Navier-Stokes expressions with buoyancy?"
I'm following your book, together with your code, but I need to solve a Thermodynamics problem which looks similar to your smoke problem, although I'm not sure if I can directly use your formulation:

In my case, the boundaries have a known temperature at each element in the boundary mesh. Such temperature is transmitted (via conduction) to the fluid (air) in contact with the boundary. We have con

[2020-01-25 05:25] doyubkim commented on #283
Hi @cesss! Thank you for asking this question.

As you can already see, the buoyancy model in the smoke simulator is an approximation by treating fluid density as a (spatially) constant variable. It does track smoke density (i.e. smoke particle occupancy) and temperature, but they are decoupled from the N-S equation and added back as an external force. To me, this is, in fact, a simplified version

[2020-01-26 14:35] cesss commented on #283
This is being pretty difficult to me. As you correctly point out in your book, CFD literature is usually targeted to readers who already have a high expertise in fluid mechanics and their maths. However, the main problem I'm finding is not the maths, but the code (in fact, I'm understanding the maths, the problem is that I don't find code that works "out of the box" for the problem I'm solving): T

[2020-02-03 05:24] utilForever opened #284 "Replace library 'Clara' with 'Lyra'"
Recently, I found that the library 'Clara' (https://github.com/catchorg/Clara) is no longer maintained.
It has been forked and maintained as the new name 'Lyra' (https://github.com/bfgroup/Lyra).
We should replace it to maintain dependency.

[2020-02-03 06:24] doyubkim commented on #283
Hi @cesss,

Yes, finding the right package is a long journey and I definitely feel your pain! It is also quite hard to hit the right balance between math/code/engineering. You are right. My book was intentionally targeted for the folks with coding background after seeing/consulting people from the industry. Thus, the models are somewhat simplified and explanations are more application-centric.

I

[2020-02-03 06:27] doyubkim commented on #276
@kentbarder: I recently checked if this issue is reproducible, but it seems like the code in the master branch already handles both per-vertex change and transform update. Do you mind checking it again? I can also post my test code soon.

[2020-02-03 06:30] doyubkim commented on #284
Thanks for reporting this. Regarding the 3rd party dependencies, I am actually considering switching from the submodule approach to Conan package manager. I can find Lyra in `conan-center` as well as all the other dependencies. What do you think?

[2020-02-03 07:51] utilForever commented on #284
That's a good idea. I'll switch to Conan, too. 😸

[2020-02-03 19:57] kentbarber commented on #276
@doyubkim I will check again soon. Might not be for a couple of weeks though. Will let you know.

[2020-02-04 01:41] doyubkim commented on #276
@kentbarber thanks! Much appreciated.

[2020-03-05 16:59] netolcc06 commented on #165
New code features mean new book version? :-)

[2020-03-10 08:13] sukbu opened #285 "Typo in description"
This repository is created and maintained by Doyub Kim (@doyubkim). Chris Ohk (@utilForever) is a co-developer of the framework since v1.3. Many other contributors also helped improving the codebase including Jefferson Amstutz (@jeffamstutz) who helped integrating **Inten TBB** and OpenMP backends.

Inten TBB => Intel TBB

[2020-03-11 19:36] doyubkim commented on #285
Nice catch :) Will fix soon

[2020-03-12 11:36] sukbu opened #287 "Build failure with cmake option using TBB in VS2017, windows 10"
Build failure occured in VS2017 while following install.md.

Creating solution with CMAKE option 'cmake .. -G"Visual Studio 15 2017 Win64" -DJET_TASKING_SYSTEM=OpenMP' and building solution in VS2017 was successful.

And I tried to build solution after run cmake with the option -DJET_TASKING_SYSTEM=TBB. But it wasn't successed.

Information::
 Windows 10 (ver 1809)
 tbb version: 2020.0.166 (latest

[2020-03-13 01:58] doyubkim commented on #287
Thanks for reporting this issue! Looks like there are some compiler warnings that are treated as an error. Can you also share the output from the “output” tab from your VS?

[2020-03-13 08:25] sukbu commented on #287
Sorry for that i forgot. The output line is almost a thousand line so i upload it as a file

[logs.txt](https://github.com/doyubkim/fluid-engine-dev/files/4328528/logs.txt)

[2020-03-13 08:53] doyubkim commented on #287
Thanks for the log. I think the problematic code from the latest TBB is this:

[code]

While I investigate further, you can ignore C4180 by adding `/wd4180` in `cmake/CompileOptions.cmake` line 90:
https://github.com/doyubkim/fluid-engine-dev/blob/db0bc54f02666d6529f6fbc874b4e1993f0df3e4/cmake/CompileOptions.cmake#L90

[2020-03-13 12:38] sukbu commented on #287
Thank you sir it worked well now.
I couldn't understand the context, but now it's clear..
and i think i should have read the logs thoroughly eventhough I don't know much about the cmake stuffs😅
anyway thank you again!

[2020-03-16 07:37] doyubkim commented on #287
No problem. In fact, this is still a build issue with latest TBB so let me reopen this issue again. Will close it once /wd4180 as well as CI scripts are updated.

[2020-03-16 08:29] sukbu commented on #287
I just added single line in the cmake file following your guide. Like below.
[code]
So the builds (Debug,x64), (Release,x64) had no problem
But I'm just curious about this matter more so, do you need to change something more?

[2020-03-16 08:32] doyubkim commented on #287
From the code perspective, I think it is fine with the one-liner. I need to add proper TBB check to prevent this happening again.

[2020-04-02 17:15] PavelBlend commented on #141
I would like to add a demos video, but so far I have run into difficulties.
The convert function runs slowly on a large number of particles (3 million).
[code]
Does this function convert particles to voxels?

I have a baked sequence of 900 frames. Converting particles to mesh is too slow at a resolution of 480 voxels. Is it possible to speed up or optimize this function in any way?

So far I have

[2020-04-02 17:44] doyubkim commented on #141
This is amazing, @PavelBlend ! Yeah, current meshing methods use regular grids which makes it slow. I want to implement adaptive version which should make performance better, and I do have early code for that. Let me see what I can do in the short term + more documentation you asked earlier.

[2020-04-03 00:24] igbondar commented on #68
Hi Doyub! What is your plan on implementing this?
The part with getting velocity from vorticity bit hard to transfer to code(.

[2020-04-03 03:51] doyubkim commented on #68
Hi @igbondar!

At the moment, my general plan for Jet Framework is to
1) Add/fix minor improvements/issues
2) Consolidate existing branches for v1.4 and
3) Refactor the API and some of the underlying code structure for v2.0

This means I won't be working on adding "features" like new solvers in the time frame above. If anybody can take a ticket like this one, I am more than happy to help.

Regardi

[2020-04-03 16:10] PavelBlend opened #288 "[APIC Solver] The preferred direction of motion of particles"
Hello, @doyubkim

Using the APIC solver, I noticed one thing.
Particles fly apart in the + X and + Z directions to a greater extent than in the -X and -Z directions.
What can this be connected with and is this a mistake?
Unfortunately, I can not provide a py file for an example, since I use blender addon for testing.
Here are the screenshots:
![01](https://user-images.githubusercontent.com/7983249

[2020-04-03 16:20] PavelBlend opened #289 "Error generating mesh"
It seems to me that the polygon mesh generator does not work correctly at some points.
The mesh is not Manifold.
![01](https://user-images.githubusercontent.com/7983249/78382704-ee09d500-75df-11ea-8f57-4aae5a69ff05.jpg)
[test_apic_method.zip](https://github.com/doyubkim/fluid-engine-dev/files/4428565/test_apic_method.zip)

[2020-04-04 02:22] doyubkim commented on #288
Thanks for reporting this, @PavelBlend! Looks like there are some unintended anisotropy-ness in the code. What happens if you simulate the same scene with FLIP?

[2020-04-04 02:23] doyubkim commented on #289
Looks like a marching cube problem for sure. Let me take a look.

[2020-04-04 02:27] utilForever commented on #289
I'll check this issue. Thanks. :)

[2020-04-04 08:29] igbondar commented on #68
Hi Doyub! Thanks for answer.

For now my main interest to test IVOCK in Houdini for real-world scenarios. Especially since it can preserve shape stability overtime, compared to existing vortex confinement.

As I understand to obtain u from v I need to almost re-create MultiGrid(same as in source code to IVOCK pdf) with monopole tree as described. I will try to readopt the code, that they have shar

[2020-04-04 08:36] PavelBlend commented on #288
In the APIC solver, particles are clogged in a corner.
![01](https://user-images.githubusercontent.com/7983249/78422499-60be9300-7668-11ea-959d-d14011accdc5.jpg)
![02](https://user-images.githubusercontent.com/7983249/78422503-64521a00-7668-11ea-9abf-d93c4f259ee5.jpg)

[2020-04-06 02:20] doyubkim commented on #288
Hmm I'm seeing two different issues here.

First one is the spread of the particles are biased toward the upper right corner, regardless of the solver. Is the chunk of particles slightly thrown to that direction or are you dropping it directly to -y axis and still getting this results?

Second is the clogging which is sort of expected since there are no mechanism implemented to prevent that behavi

[2020-04-06 02:21] doyubkim commented on #285
Since buggy CI is now been fixed, let me rebase and push the pending fix.

[2020-04-06 02:23] doyubkim commented on #68
For this:

I think @zhxx1987 can chime in to share some insights.

[2020-04-06 07:52] PavelBlend commented on #288
Initial velocity is 0.0, 0.0, 0.0 and 2.0, 0.0, 0.0.

[2020-04-08 03:20] doyubkim commented on #288
Thanks @PavelBlend! Yes, that explains why the particles were heading toward the walls. Let me think how I can address the clogging issue then.

[2020-04-09 06:18] zhxx1987 commented on #68
@igbondar @doyubkim
here are some helpful instructions for ivock implementation:
1. the monopole tree code is not necessary, it is just used to compute the boundary values  for the stream function  poisson problem so that a Multigrid solver then performs more accurate asif the in an open-space. you can just use 0 values instead. while a slightly better solution could be to simply extend the solver

[2020-04-16 01:51] yangfengzzz opened #291 "where is Box2::closestNormal ?"
I notice in Box2::closestIntersectionLocal, It will use Box2::closestNormal which is actually Surface2:: closestNormal, why there use this func, I think closestIntersectionLocal is done in local space not in the world space?

[2020-04-16 03:42] doyubkim commented on #291
Hi @yangfengzzz! Yes, it should be in local space, thus it should use closetNormalLocal. Let me post a PR soon.

[2020-04-16 03:44] yangfengzzz commented on #291
and in Cylinder3::closestIntersectionLocal, it use boundingBox() which is also in global space

[2020-04-16 04:34] doyubkim commented on #291
PR is out

[2020-04-16 10:40] doyubkim commented on #291
The fix is now merged!

[2020-04-16 10:40] #291 closed

[2020-04-26 23:18] igbondar commented on #68
Hi  @zhxx1987!
Thanks for help. I tried implement 2d case of IVOCK  since it simpler and doesn't require vortex stretching.
The problem it is quickly become unstable even with a small increasing of correction values.
In picture - from left to right - stable fluids, ivock with 0.015 multiplier, ivock with 0.018 multiplier.
I think I did somewhere logic mistake or didn't use some clamping. If you ha

[2020-04-27 07:01] zhxx1987 commented on #68
Hi igbondar,
here are couple things to check:
1. BFECC itself is not an unconditionally stable advection scheme, it will introduce new extrema after advection. so, make sure you do the extrema clamping as in many real fluid solvers:
let's say the grid value at the grid point x of any field is phi_new after bfecc advection.
do a back trace of x using the divergence-free velocity field again and sam

[2020-04-27 07:07] zhxx1987 commented on #68
@igbondar after you done my check list, you shall be able to add back 1.0 of the missing vortices with no problem in 2D.
although I used 0.95 in my 3D cases due to some extra errors introduced by the vortex stretching.

[2020-04-27 07:17] zhxx1987 commented on #68
for using multigrid solvers in 2D, please check the code at https://github.com/ziyinq/Bimocq/blob/master/src/bimocq2D/BimocqSolver2D.cpp
"buildMultiGrid" and "projection". for vorticity stream functions, PURE_NEUMANN = false.

[2020-04-28 09:21] cesss commented on #283
Dear Doyub,

I've been continuing my study on this topic. However, I'm finding difficulties to compare your approach with the approaches in the CFD literature. For example you mention that your FD approach is based on Jos Stam's _"Stable Fluids"_ paper. On the other hand, the usual CFD literature shows algorithms like [SIMPLE](https://en.wikipedia.org/wiki/SIMPLE_algorithm) and [PISO](https://en.w

[2020-04-28 21:17] cesss opened #294 "Boundary conditions for open space with wind?"
Let's consider the smoke demo, and let's suppose you "cut" the box enclosure in two halves: The half in the bottom has no changes (you have the floor and the four walls), while the half at the top has no ceiling nor walls... just open space.

Now let's suppose you want air to enter from the left at a wind speed of 1m/s in a given direction parallel to the ground (with a constant vector such as u_w

[2020-04-29 09:10] cesss commented on #283
I'm going to close this because I realized it is straightforward to implement SIMPLE, SIMPLER, PISO, etc. solvers in your Jet framework: Just create a new class for a solver and code it there!!

Btw, congratulations, your framework is great!!

[2020-04-29 09:10] #283 closed

[2020-05-01 07:29] doyubkim commented on #294
Hi @cesss! That should be doable by modifying the boundary condition. The current public API doesn't support it right out of the box, but I think it won't be too hard to have the functionality.

[2020-05-01 07:32] doyubkim commented on #283
Thanks @cesss! :)

Yes, SIMPLE should be quite similar to the Stable Fluids approach. Glad you already found a way to make it!

[2020-05-01 15:57] cesss commented on #294
Let me suggest you to implement this feature (fluid simulation with open boundaries and wind), because it would enhance the quality of your smoke demo a lot (currently it doesn't look very realistic because the generated smoke is symmetrical. If you add wind to it, the symmetry would disappear, and it would be much more realistic.

[2020-05-01 17:37] cesss opened #295 "Fixes for supporting MinGW-w64"
If you want to cross-compile from any UNIX system to Windows, using MinGW-w64, you need to do the following fixes:

- In src/jet/pch.h src/jet/private_helpers.h, you need to perform the NOMINMAX definition only when using a Microsoft compiler (an #ifdef _MSC_VER will work).
- In src/jet/private_helpers.h, the throw std::exception with a string is not correct C++ code according to the standard (alt

[2020-05-02 00:01] cesss opened #296 "Is gtest necessary in the CMakeLists.txt for the unit tests?"
The CMakeLists.txt for the unit tests specifies to link both with gmock and with gtest. When building them static, I got a duplicate symbol in some OSs.

But then I realize that if you link with gmock only, it works fine. So, is the gtest library really needed?

[2020-05-03 03:21] doyubkim commented on #296
Good point. I also noticed a similar issue from other projects. Will post a PR soon!

[2020-05-03 03:24] doyubkim commented on #295
Thanks for reporting this! I haven't tried MinGW-w64, so needs to test the build on it. Setting up a proper CI will be more important in this case.

[2020-05-03 08:42] cesss commented on #295
It seems it needs some work, because I'm getting 9 failures when running the unit tests. My advice is that you start by building it with GCC 9.x even on Linux, because I guess that the failure due to "deprecate copy" is not specific to MinGW-w64, but to GCC 9 (it's a warning, but you build with -Werror, so it breaks the build).

For the moment I don't consider building Jet on Windows a priority, b

[2020-05-03 08:45] cesss commented on #296
Actually, I'm not sure of how gtest/gmock should be linked. I never used them before, and, honestly, I don't like how their code looks (it looks like a pretty untidy design, at least at first glance).

[2020-05-04 07:47] doyubkim commented on #296
There are other alternatives like Catch which is also quite popular. I chose gtest since love it or not it's widely used and supported by a variety of IDEs (such as VSCode via extension, CLion, etc). But it is true that it's been one of the major sources of breaking the builds whenever a new version of a compiler is introduced.

[2020-05-04 07:50] doyubkim commented on #295
BTW, that GCC9 error comes solely from gtest (which is discussed in a separate Issue #296) which needs to be updated to the latest release. There is another PR (#297) that fixes the issue while trying to support Ubuntu 20.04 LTS (which also defaults its gcc to 9.x).

[2020-05-13 08:16] doyubkim commented on #295
The fix is now merged!

[2020-05-13 08:16] #295 closed

[2020-05-13 10:57] doyubkim commented on #287
As we are revisiting CI's in general, bumping up this issue again.

[2020-05-13 10:57] #285 closed

[2020-06-14 05:05] #296 closed

[2020-06-30 05:04] utilForever opened #300 "Python API import error on Windows and Python 3.8+ with Intel TBB"
I encountered Python API import error while updating CubbyFlow.
[code]
At first, I thought it was my problem, but after a few days of investigation, I found that there is a new Windows safety feature that [changes how DLLs are loaded in Python 3.8](https://docs.python.org/3/whatsnew/3.8.html#ctypes).
To resolve this issue, I needed to tell Python how to find the library again like this:
[code]
I t

[2020-06-30 07:04] doyubkim commented on #300
Is this still an issue if PATH env variable contains TBB?

[2020-06-30 07:10] utilForever commented on #300
Yes, it is.

[2020-06-30 07:18] doyubkim commented on #300
Ok that’s unfortunate 🙁 I’m starting to think if pyjet should use tbb from pypi. Having extra function call for every pyjet import doesn’t look nice.

[2020-06-30 07:22] utilForever commented on #300
I agree. So I suggest adding this issue to documents such as README.md or INSTALL.md. 🤔

[2020-06-30 09:00] doyubkim commented on #300
It should be a temporary warning message in the docs before we have proper fix. Do you mind posting a PR for that?

[2020-06-30 09:28] utilForever commented on #300
Yes, I’ll post PR tonight. :)
Do you want to add warning messages to Install.md?

[2020-07-08 08:17] igbondar opened #301 "render manual tests root path"
Hi!
It is probably not very important, just a side note.

I ran this script **render_manual_tests_output.py** on windows 10 but it didn't do anything.
The root path is one word it always returns empty list.
filenames = utils.get_all_files('manual_tests_output', ['*' + render.INPUT_ARRAY_FORMAT])

Full root path works fine.

[2020-07-08 08:20] doyubkim commented on #301
Uh oh! Let me see what’s going on. Thanks for reporting this issue!

[2020-07-10 09:56] doyubkim commented on #301
Hi @igbondar ! I just tried on my Windows machine, but I couldn't reproduce the issue.
But based on what you said, can you double check which directory are you running the `manual_tests.exe` and `render_manual_tests_output.py`? Both should be called from the same directory.

[2020-07-10 12:19] igbondar commented on #301
Hi @doyubkim !
It is working fine if I run it from manual_tests.exe directory.
Wasn't clear from webhelp about this restriction,
Thanks!

[2020-07-10 15:59] doyubkim commented on #301
Actually it doesn’t have to be in the directory where the exe file exists. Where you run the python script should be the directory where manual_tests_output exists. Please let me know if you still have the issue!

[2020-07-10 19:55] uljadberdica1000 opened #302 "How do I run the examples and the animations?"
I am unable to run the examples and launch the visualization. Am I doing something wrong? Should I change the CmakeList.txt?

[2020-07-10 23:00] #302 closed

[2020-07-10 23:15] uljadberdica1000 opened #303 "How to run the particles2obj example?"
What format should the input file be? Do I have to specify other parameters?

[2020-07-12 04:26] doyubkim commented on #303
Hi @uljadberdica1000! The `particles2obj` CLI tool assumes the input file is in a binary file format generated by other example apps such as `hybrid_liquid_sim` or `sph_sim`.

If you want to use your own app to generate compatible files, please take a look at `main.cpp` file in `hybrid_liquid_sim` example:

[code]

[2020-07-12 05:02] uljadberdica1000 commented on #303
Thank you so much for your help and great work. Is there any way I can generate a partio file (or any particle information saving file format) and most importanly, use it to perform the Zhu-Bridson or the anisotropic algorithms on?

[2020-07-12 07:06] doyubkim commented on #303
We currently do not support partio format, so you probably should right a converter which both links to Jet Framework and partio library.

[2020-07-12 14:13] uljadberdica1000 commented on #303
tried running :
~/fluid-engine-dev/build/bin$ ./particles2obj -i hybrid_liquid_sim_output/frame_000001.xyz -o out.obj

and I got that there is  segmentation error (core dumped)

[2020-07-12 18:45] doyubkim commented on #303
Hi @uljadberdica1000! When running the simulation app, you should pass "--format pos" to export the binary files. By default it will use xyz ASCII format. You can pass -h option to see all the input parameters.

[2020-07-12 22:41] uljadberdica1000 commented on #303
COuld you please provide me with an example? I keep getting the error of dumped cores

[2020-07-14 08:43] doyubkim commented on #303
Hi @uljadberdica1000!

Sure, so here's an example. You can first run the hybrid_liquid_sim like this:

[code]

Then, you can run the particle2obj like this:

[code]

Then, you will get results something like:

![frame_000000](https://user-images.githubusercontent.com/1934733/87404753-671baf80-c573-11ea-9596-bc034cc5da6c.png)

[2020-07-16 15:00] ceeac opened #304 "Compile error when compiling with Clang 10"
Compiling with Clang 10 yields the following error:
[code]
Clang version:
[code]

[2020-07-17 03:20] doyubkim commented on #304
Thanks for reporting this! Let me fix the issue.

[2020-07-18 07:11] douysu commented on #303
I'm glad to see this issue. It would be better written the issue step in the README.

[2020-07-24 22:50] #304 closed

[2020-07-25 08:11] #301 closed

[2020-08-02 04:14] doyubkim commented on #300
@utilForever Not sure why I missed your last comment. Yup, that sounds good!

[2020-08-02 05:07] utilForever commented on #300
@doyubkim Okay. I'll post PR tonight after I add warning messages. 😀

[2020-08-02 05:24] doyubkim commented on #300
I'm also making some experiments to address general distribution issues with TBB. I think we should build and deploy the version of TBB that's been used with the Jet build. Hope I can come up with something to share soon.

[2020-08-19 07:28] uljadberdica1000 commented on #303
Is there any way I could use the xyz file for that? I want to use it as a plugin for something else and need to put the xyz from another simulation.

[2020-08-19 08:08] doyubkim commented on #303
@uljadberdica1000: you mean you want to generate xyz files externally and use particles2obj to generate mesh, right? Adding xyz support shouldn't be too hard. Let me see what I can do.

[2020-08-19 08:43] uljadberdica1000 commented on #303
Yes thank you so much! I just want to use your work since I will never be able to write a better one anyway! I want to be able to use xyz to generate the mesh with the particles2obj.

[2020-08-21 07:41] doyubkim commented on #303
@uljadberdica1000: the requested feature is now up for PR. Feel free to test it from the branch (`xyz`).

[2020-09-14 18:32] doyubkim commented on #257
As reported in https://github.com/doyubkim/fluid-engine-dev/pull/307, the return type of the 2D cross product should be scalar (page 27).

[2020-09-16 18:15] doyubkim opened #308 "Promotion of projects/research using Jet Framework"
I found some projects and papers using Jet Framework and I'd like to share them with more audiences by promoting them in the readme. Some of them are well-known like CubbyFlow or Jet Fluid (C4D plugin), but if you happen to know other projects, please let me know in the comment section below. I will periodically add them to the readme.

[2020-09-16 18:16] doyubkim commented on #308
Feng Yang's port of Jet Framework to OpenVDB and Swift:

https://github.com/yangfengzzz/fluid-engine-OpenVDB

https://github.com/yangfengzzz/fluid-engine-Swift

[2020-09-16 18:17] doyubkim commented on #308
Nakanish et al., RBF Liquids: An Adaptive PIC Solver Using RBF-FD, ACM SIGGRAPH Asia 2020.

https://rnakanishi.github.io/publications/rbf-liquids-adaptive-pic-solver-using-rbf/

[2020-09-16 18:21] doyubkim commented on #308
Jet Fluids - Cinema 4D plug-in

https://www.plugins4d.com/jet-fluids

[2020-09-16 18:21] doyubkim commented on #308
CubbyFlow by @utilForever

https://github.com/utilForever/CubbyFlow

[2020-09-18 07:10] uljadberdica1000 commented on #303
It worked great. Thank you so much. Do you have any literature you could suggest on the trade offs of using each method both computationally and geometrically. I cannot find a proper source! The xyz input works great!

[2020-09-18 10:15] doyubkim commented on #303
Hi @uljadberdica1000 ,

I would definitely start from Yu and Turk paper (https://www.cc.gatech.edu/~turk/my_papers/particle_surfaces_tog.pdf). I don't know if there are any survey papers on that topic, but that paper should cover most of your questions. The computational cost is something could be reevaluated with modern hardwares including GPUs.

[2020-09-23 03:55] #303 closed

[2020-09-23 03:58] uljadberdica1000 opened #309 "How to implement the xyz to mesh generation to another codebase?"
I am running a fluidics simulation in a robotics platform and I am currently pausing the simulation every few steps to mesh the fluid particles. Is there a way I could use the xyz to obj capabilities of fluid engine dev so I will not have to run the partciles2obj examples each timestep?

Currently, I use system to run the examples from the terminal. Can I do it without this extra I/O? It would be

[2020-09-23 05:38] doyubkim commented on #309
Hi @uljadberdica1000,

If you want to adapt `particles2obj` in your code, you can copy and modify the functions from `particles2obj` as shown below:

[code]

You can call `particlesToObj` function after every time-step.

Hope this helps!

[2020-10-11 08:30] xiaoxiaoyu1872 opened #310 "How do I set up a fluid particles at rest and a fluid particles with initial velocity"
such as water-crown example, droplet has initial velocity (0, -5, 0).
    auto fbox = Box3::builder()
                    .withLowerCorner({0, 0, 0})
                    .withUpperCorner({1, 0.25 * domain.height(), 1})
                    .makeShared();

    auto sphere = Sphere3::builder()
                      .withCenter(domain.midPoint())
                      .withRadius(0.15 * domain.width()

[2020-10-11 18:07] doyubkim commented on #310
Hi @xiaoxiaoyu1872,

In such cases (multiple emitters), can you try creating ParticleEmitterSet3, add your emitters to it, and then add the emitter set to the solver?

[2020-10-12 09:06] xiaoxiaoyu1872 commented on #310
_ParticleEmitterSet3_ worked! Thank you very much

[2020-10-12 13:58] doyubkim commented on #310
Awesome!

[2020-10-12 13:58] #310 closed

[2020-12-09 08:18] utilForever opened #312 "Suggestion to replace Travis CI/Appveyor with GitHub Actions"
Have you ever seen a [The new pricing model for travis-ci.com](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)?
The new pricing model is based on credits. Maybe you're using credit by Trial Plan now. For OSS purposes, it is said that you must apply via e-mail. Therefore, I would like to suggest replacing existing CIs with GitHub Actions. What do you think about this?

[2020-12-09 08:26] utilForever commented on #300
@doyubkim Not sure why I missed this issue. I'll post PR tonight after work. 📜

[2020-12-09 08:29] doyubkim commented on #312
Yeah I heard about it today as well. It's frustrating tbh, but a good chance to migrate to Github Actions. Will work on it.

[2020-12-09 08:36] utilForever commented on #312
I already replaced them with GitHub Actions. I can work! 😄

[2020-12-09 15:32] doyubkim commented on #312
Ok I will reassign it to you. Thanks!

[2021-02-08 07:06] doyubkim commented on #312
@utilForever Do you have any update on this? Thanks again for taking this issue!

[2021-02-09 11:50] utilForever commented on #312
@doyubkim Nah, I forgot it! 😭 I'll work this ASAP. Thanks.

[2021-02-15 14:58] utilForever opened #315 "some unit tests failure on 32-bit system"
When I work MinGW build on 32-bit system, I saw that some unit tests are fail. We need to fix related code.
[code]

[2021-02-16 01:36] utilForever opened #316 "Fix Visual Studio 2017 build failure on GitHub Action"
I think that this problem is related to heap or stack size of the compiler.
Anyway, I'll find the cause and fix it.

[2021-02-16 05:22] utilForever opened #317 "Timer test code failure on MinGW system"
We need to fix test code.

[2021-02-17 07:33] #312 closed

[2021-04-20 15:40] Xayahp opened #318 "No known features for CXX compiler "Clang""
Fluid Engine can throw a error that prevent me from a successful build on my environment (MacOS big sur, clang 11, cmake 3.19.6)

add this line in the root CMakeLists.txt may help! (I put this line under the `cmake_minimum_required(...)` line)

[code]

a subtle fix advice, best regards!

[2021-04-20 15:49] utilForever commented on #318
@Xayahp Thanks for report! I'll investgate this issue. ✋

[2021-04-20 16:14] utilForever commented on #318
@doyubkim CMP0025 in CMake is used for the policy to use compiler ID either `AppleClang` or `Clang`.
This policy was introduced in CMake version 3.0. Our minimum version of CMake is 2.8.12.
What do you think about upgrading CMake version to 3?
Reference: https://cmake.org/cmake/help/latest/policy/CMP0025.html

[2021-04-20 16:16] doyubkim commented on #318
I'm fine with 3.0. Let's make sure it is well documented in the readme and other docs.

[2021-04-20 16:20] utilForever commented on #318
If you don't mind, I'll work on it and ready to PR within this week.

[2021-04-20 16:25] doyubkim commented on #318
Sounds good to me!

[2021-04-25 15:56] #317 closed

[2021-08-20 03:47] xiaomintongxue opened #320 "running the Python example show error"
running the example use "python src/examples/python_examples/smoke_example01.py" in  the  windows, shows the error like:Traceback (most recent call last):
  File "src/examples/python_examples/smoke_example01.py", line 11, in <module>
    from pyjet import *
  File "<frozen importlib._bootstrap>", line 1031, in _handle_fromlist
  File "<frozen importlib._bootstrap>", line 1026, in _handle_fromlist

[2021-08-20 08:01] doyubkim commented on #320
Uh oh. Let me check and see what's going on. Thanks!

[2021-08-22 08:06] doyubkim commented on #320
@xiaomintongxue I wasn't able to reproduce the error. Which platform/python environment did you use? Do you mind sharing the steps (command line commands) you used?

[2021-08-23 02:18] xiaomintongxue commented on #320
the Python is Python3.7（64-bit Windows），and i think i have already installed the packages ，it show in the following.
pip freeze

aiohttp==3.7.4.post0
anyio==3.3.0
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
beautiful==0.0.2
beautifulsoup4==4.9.3
bleach==4.0.0
bs4==0.0.1
certifi==2021.5.30

[2021-08-23 02:26] doyubkim commented on #320
Ok I think you got the other "pyjet". Unfortunately that name is reserved by other library with the same name. You can uninstall existing pyjet from your environment and reinstall Jet Framework by running "pip install -U ." inside this repo directory (assuming you already git cloned it).

Hope this helps and let me know if you still encounter an issue.

[2021-08-23 02:31] xiaomintongxue commented on #320
really thanks~~
On 8/23/2021 10:26，Doyub ***@***.***> wrote：

Ok I think you got the other "pyjet". Unfortunately that name is reserved by other library with the same name. You can uninstall existing pyjet from your environment and reinstall Jet Framework by running "pip install -U ." inside this repo directory (assuming you already git cloned it).

Hope this helps and let me know if you still enc

[2021-08-23 16:28] #320 closed

[2021-08-25 07:01] xiaomintongxue commented on #320
sorry ，i think i dont solve the problem.
In project depository i have used the code to install the package.

python setup.py install

shows the errors in the following.
（plus：In the CMakeOutput.log show  the system is: Windows - 10.0.19042 - AMD64，
that's my computer system. where is the problem？very precious your help~）

running install
running bdist_egg
running egg_info
writing pyjet.egg-info\PK

[2021-08-30 06:35] xiaomintongxue commented on #320
The problem have been solved and i can run the examples successful.
The  reason is that i have used the download zip not the git tool, the file is not incomplete.
i am very sorry to disturb all of you.

Very  thanks~

On 8/25/2021 ***@***.***> wrote：
sorry ，i think i dont solve the problem.
In project depository i have used the code to install the package.

python setup.py install

shows the error

[2021-08-30 15:43] doyubkim commented on #320
Great to hear @xiaomintongxue ! Let me know if you run into any other problems.

[2021-11-24 16:02] PavelBlend commented on #289
I tested the simulator again and noticed one thing:
These invalid triangles are only created on the walls of the domain. I started to study the code in the file `src\jet\marching_cubes.cpp` to get a rough idea of the cause of the error. I saw that the mesh generator uses different algorithms for creating triangles for the walls of the domain and for the triangles within the domain. The error occur

[2021-12-24 16:51] doyubkim opened #322 "Replace Clara"
Got a report from a user that Clara is deprecated. A simple solution like https://github.com/p-ranav/argparse would be just fine to replace it.

[2021-12-24 16:58] doyubkim commented on #289
Thanks @PavelBlend ! So I guess what’s happening here is that boundary mesher is adding more triangles and the topology of it does not agree with the surface mesher. Maybe it’s direction-dependent; one side of the domain works fine but the opposite side might show this problem.  @utilForever: one way to fix this is to make a simple repro case with two volumes close together and see how the lookup

[2021-12-27 09:01] PavelBlend commented on #289
@doyubkim I created a small example:
[code]
at frame 48 I get this mesh:
![011111](https://user-images.githubusercontent.com/7983249/147454750-5565a58d-be21-4d40-9da0-635aea19d530.jpg)

Here is the obj file:
[frame_000048.zip](https://github.com/doyubkim/fluid-engine-dev/files/7779395/frame_000048.zip)

I think this is due to the fact that two drops are in the same voxel:
![01000](https://user-ima

[2021-12-27 09:02] utilForever commented on #289
@PavelBlend Thanks!

[2021-12-27 09:15] PavelBlend commented on #288
after testing, I noticed that this behavior only occurs when using the single phase pressure solver. But if you use a fractional single phase pressure solver, then this behavior will not be:
![0000](https://user-images.githubusercontent.com/7983249/147456129-1c6204f7-803b-44d1-b370-11535f02ee53.jpg)

[2021-12-27 09:44] doyubkim commented on #289
Yup, I think this is definitely a marching square issue where its lookup table is not consistent with the marching cube.

[2021-12-28 03:38] doyubkim commented on #288
Very interesting. Thanks for providing more info! Please use the fractional solver in the meantime. It is more accurate anyway.

[2022-01-08 16:52] #191 closed

[2022-01-17 01:15] utilForever opened #323 "makeTranslationMatrix should be transposed"
According to https://github.com/CubbyFlow/CubbyFlow/issues/125, Matrix is row-major so the translation part should be on ele[12], ele[13] ele[14]. I'll fix it ASAP. Thanks to @yangfengzzz!

[2022-01-17 01:33] doyubkim commented on #323
Wait, are you sure? Matrix's ij convension is different than array -- ij and xy is in different order.

[2022-01-17 01:38] doyubkim commented on #323
`4 * i + j` is correct. It points to `i`th row and `j`th column. So in a flat memory, column index moves faster.

[2022-01-17 01:42] utilForever commented on #323
Agree. I think that `4 * i + j` is correct, too. I'm confusing this logic:
[code]

[2022-01-17 02:40] doyubkim commented on #323
Hmm that's what a translation matrix should be when you perform matrix-vector multiplication in MV order. Some libraries use VM order, and then the matrix should be transposed.

[2022-01-17 03:46] utilForever commented on #323
I totally understand. It's been a long time since I learned, so I think I was confused with the concept. It was my mistake. Thank you for your explanation and I'll close this issue.

[2022-01-17 03:46] #323 closed

[2022-01-17 03:52] doyubkim commented on #323
No worries. Thanks for opening up the issue regardless.

[2022-01-17 04:12] doyubkim commented on #323
@utilForever: to be fair, I do understand the confusion since I'm actually mixing row major matrix with column vector in Jet framework. Typically you would interpret a vector as a flat matrix when matrix system is row major. (See this post: https://fgiesen.wordpress.com/2012/02/12/row-major-vs-column-major-row-vectors-vs-column-vectors/)

Anyhow, that's how Jet framework defines matrix and vector

[2022-01-17 04:18] yangfengzzz commented on #323
Ok, I got it. With row major matrix and column vector, the code is correct. But I think it is better to use row major matrix and row vector.

[2022-04-14 08:00] LILKOTYO opened #324 "About the local method in the surface_to_implicit"
According to my understanding, the otherPoint in the function SurfaceToImplicit2::closestNormalLocal is a point described by local coordinates.
while the code use _surface->closestNormal(otherPoint), which treats this otherPoint as a point in the world coordinate system, perform a localization and then calculate the normal

[2022-04-18 16:41] doyubkim commented on #324
Thanks, I'll take a look!

[2022-07-09 02:50] kentbarber opened #325 "GridSmokeSolver3::computeDiffusion is diffusing smokeDensity instead of temperature"
I noticed that on line 107 of grid_smoke_solver3.cpp that it is using smokeDensity

[code]

But shouldn't that be using temperature?

[code]

Same issue in GridSmokeSolver2.  I changed my local code to use temperature() instead of smokeDensity() and now it looks like it is giving the correct results.

[2022-07-09 02:53] kentbarber commented on #325
This is the result I get now, where in this example I have the temperature diffusion coefficient is set to 0.1 and it is now diffusing the temperature grid properly, resulting here in the fire using the temperature grid in a blackbody rendering using Redshift.

https://user-images.githubusercontent.com/12145275/178088889-1d1c666a-5fcc-4628-a8f4-6935829dcd8e.mp4

[2022-07-09 03:01] doyubkim commented on #325
Nice catch!! Feel free to raise a PR for the fix.

[2022-07-09 06:52] #325 closed

[2022-11-09 03:20] stevencui2 commented on #19
Hello, wonder any progress on the GPU branch? When I build the GPU branch, many errors pop up.  I was able to fix some easy and minor issues but cannot go further.

[2022-11-17 19:17] zx-82 opened #327 "Incorrect formula for collider boundary conditions (Equation 3.18 in the book)"
Equation 3.18 takes the *relative* fluid-collider velocity for boundary projection.
This does not seem correct. Consider the simple case of of verctical wall (normal_collider=(1,0)
uv_collider = (0,1) and uv_liquid_boundary=(0,0). Relative velocity then is uv_rel = (0,-1) and the forumla in the book projects this to the wall which gives
boundary_constrained = (0,-1)
This does not seem physically p